<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.indicatorsLib.dao.mapper.indicatorsLib.IndicatorsMineMapper">
    <!-- author: Samer  我的指标 -->
    <!-- 获取指标父级信息 -->
    <select id="getIndexParentInfo" resultType="java.util.HashMap">
        SELECT
            a.`INDEX_ID` AS id,
            a.`INDEX_NAME` AS `text`,
            a.`PARENT_ID` AS pId
        FROM
            `indicators_lib`.`lib_index_relation` a
        WHERE
            a.`IS_FINAL` = '1'
    </select>

    <!--    根据指标查询指标的维度-->
    <select id="getIndexDimnsn" resultType="map">
        SELECT COUNT(V.INDEX_DIMNSN) AS REPEAT_COUNT,V.INDEX_DIMNSN,
        CASE WHEN V.INDEX_DIMNSN=1 THEN '国库' WHEN V.INDEX_DIMNSN=2 THEN '地区'
        ELSE '' END INDEX_DIMNSN_DSCR
        FROM(
        SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(a.INDEX_DIMNSN, ',', b.help_topic_id + 1 ), ',',- 1) INDEX_DIMNSN
        FROM indicators_lib.lib_index_relation a
        JOIN mysql.help_topic b ON b.help_topic_id <![CDATA[<]]> (LENGTH(a.INDEX_DIMNSN) - LENGTH(REPLACE(a.INDEX_DIMNSN, ',', '' )) + 1)
        WHERE (a.INDEX_DIMNSN <![CDATA[<>]]> '' OR a.INDEX_DIMNSN IS NOT NULL)
        <if test='indexArray != null and indexArray.length > 0'>
            AND a.INDEX_ID IN
            <foreach collection="indexArray" item="inedxId" open="(" separator="," close=")">
                #{inedxId}
            </foreach>
        </if>
        ORDER BY INDEX_DIMNSN
        ) V
        GROUP BY INDEX_DIMNSN
        <if test='indexArray != null and indexArray.length > 1'>
            HAVING REPEAT_COUNT > 1
        </if>
    </select>

    <!--    根据指标查询指标的周期-->
    <select id="getIndexPeriod" resultType="map">
        SELECT COUNT(V.INDEX_PERIOD) AS REPEAT_COUNT,V.INDEX_PERIOD,
        CASE WHEN V.INDEX_PERIOD=1 THEN '日' WHEN V.INDEX_PERIOD=2 THEN '月'
        WHEN V.INDEX_PERIOD=3 THEN '季' WHEN V.INDEX_PERIOD=4 THEN '年'
        ELSE '' END INDEX_PERIOD_DSCR
        FROM(
        SELECT SUBSTRING_INDEX(SUBSTRING_INDEX(a.INDEX_PERIOD, ',', b.help_topic_id + 1 ), ',',- 1) INDEX_PERIOD
        FROM indicators_lib.lib_index_relation a
        JOIN mysql.help_topic b ON b.help_topic_id <![CDATA[<]]> (LENGTH(a.INDEX_PERIOD) - LENGTH(REPLACE(a.INDEX_PERIOD, ',', '' )) + 1)
        WHERE (a.INDEX_PERIOD <![CDATA[<>]]> '' OR a.INDEX_DIMNSN IS NOT NULL)
        <if test='indexArray != null and indexArray.length > 0'>
            AND a.INDEX_ID IN
            <foreach collection="indexArray" item="inedxId" open="(" separator="," close=")">
                #{inedxId}
            </foreach>
        </if>
        ORDER BY INDEX_PERIOD
        ) V
        GROUP BY INDEX_PERIOD
        <if test='indexArray != null and indexArray.length > 1'>
            HAVING REPEAT_COUNT > 1
        </if>
    </select>
    <!--    公共指标对应数据表删除指标信息-->
    <update id="detelePublicRelation">
        UPDATE indicators_lib.`lib_index_relation` SET INDEX_STATUS='1' WHERE INDEX_ID=#{params.INDEX_ID}
    </update>

    <!--    查询用户是否有管理员角色-->
    <select id="selectRoleByUserId" resultType="int">
        SELECT COUNT(1) FROM `jeecg-boot-os`.`sys_user_role` r
        WHERE r.role_id IN('0515710a3d73da87c3d8fad580bc43f6','f6817f48af4fb3af11b9e8bf182f618b')
        AND r.USER_ID = #{params.USERID}
    </select>

    <!-- 指标管理获取指标信息 -->
    <select id="getIndexManageList" resultType="java.util.HashMap">
        SELECT a.*,
        a.INDEX_ID AS subject_id,
        REPLACE(REPLACE(REPLACE(a.INDEX_DIMNSN,'1','国库'),'2','地区'),'3','核算主体') AS INDEX_DIMNSN_DSCR,
        REPLACE(REPLACE(REPLACE(REPLACE(a.INDEX_PERIOD,'1','日指标'),'2','月指标'),'3','季指标'),'4','年指标') AS INDEX_PERIOD_DSCR,
        CASE WHEN a.INDEX_TYPE ='0' THEN '数值'
        WHEN a.INDEX_TYPE ='1' THEN '比率'
        END AS INDEX_TYPE_DSCR,
        CASE WHEN a.RUN_BATCH_STATUS ='0' THEN '未开始'
        WHEN a.RUN_BATCH_STATUS ='1' THEN '进行中'
        WHEN a.RUN_BATCH_STATUS ='2' THEN '已完成'
        ELSE '' END AS RUN_BATCH_DSCR,
        IFNULL(f.BUILD_TYPE,'') AS BUILD_TYPE,
        IFNULL(f.ORIGINAL_DSCR,'') AS ORIGINAL_DSCR,
        IFNULL(f.ORIGINAL_DSCR_ARRY,'') AS ORIGINAL_DSCR_ARRY,
        IFNULL(f.INDEX_DSCR,'') AS INDEX_DSCR,
        IFNULL(f.INDEX_DSCR_ARRY,'') AS INDEX_DSCR_ARRY,
        f.EXE_DEL,
        f.EXE_INSERT,
        IFNULL(f.EXE_SQL,'') AS EXE_SQL,
        IFNULL(f.EXE_WHERE,'') AS EXE_WHERE,
        IFNULL(f.HTML_STR,'') AS HTML_STR,
        IFNULL(aap.app_result, '') AS app_result
        FROM `indicators_lib`.`lib_index_relation` a
        LEFT JOIN `indicators_lib`.`lib_index_formula` f
        ON a.INDEX_ID=f.ID
        LEFT JOIN `approval`.`appr_approval` aap
        ON a.INDEX_ID = aap.subject_id
        WHERE a.INDEX_STATUS ='0' AND f.BUILD_TYPE IS NOT NULL
        <if test='params.PERSONAL_FLAG == "0"'>
            AND a.PERSONAL_FLAG = '0' AND a.`ADD_USERID` = #{params.USERID}
        </if>
        <if test='params.PERSONAL_FLAG == "1"'>
            AND a.PERSONAL_FLAG = '1'
        </if>
        <if test='params.INDEX_ID != null and params.INDEX_ID !=""'>
            AND a.`INDEX_ID` = #{params.INDEX_ID}
        </if>
        <if test='params.INDEX_NAME != null and params.INDEX_NAME !=""'>
            AND a.`INDEX_NAME` LIKE '%${params.INDEX_NAME}%'
        </if>
        <if test='params.INDEX_TYPE != null and params.INDEX_TYPE !=""'>
            AND a.`INDEX_TYPE` = #{params.INDEX_TYPE}
        </if>
        <if test='params.INDEX_DIMNSN != null and params.INDEX_DIMNSN !=""'>
            AND FIND_IN_SET( #{params.INDEX_DIMNSN},a.`INDEX_DIMNSN`)
        </if>
        <if test='params.INDEX_PERIOD != null and params.INDEX_PERIOD !=""'>
            AND FIND_IN_SET(#{params.INDEX_PERIOD},a.`INDEX_PERIOD`)
        </if>

        ORDER BY a.`ADD_DATE` DESC
        LIMIT ${params.page},${params.rows}
    </select>

    <!-- 指标管理获取指标计数 -->
    <select id="getIndexManageCount" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `indicators_lib`.`lib_index_relation` a
        LEFT JOIN `indicators_lib`.`lib_index_formula` f ON a.INDEX_ID=f.ID
        WHERE a.INDEX_STATUS ='0' AND f.BUILD_TYPE IS NOT NULL
        <if test='params.PERSONAL_FLAG == "0"'>
            AND a.PERSONAL_FLAG = '0' AND a.`ADD_USERID` = #{params.USERID}
        </if>
        <if test='params.PERSONAL_FLAG == "1"'>
            AND a.PERSONAL_FLAG = '1'
        </if>
        <if test='params.INDEX_ID != null and params.INDEX_ID !=""'>
            AND a.`INDEX_ID` = #{params.INDEX_ID}
        </if>
        <if test='params.INDEX_NAME != null and params.INDEX_NAME !=""'>
            AND a.`INDEX_NAME` LIKE '%${params.INDEX_NAME}%'
        </if>
        <if test='params.INDEX_TYPE != null and params.INDEX_TYPE !=""'>
            AND a.`INDEX_TYPE` = #{params.INDEX_TYPE}
        </if>
        <if test='params.INDEX_DIMNSN != null and params.INDEX_DIMNSN !=""'>
            AND FIND_IN_SET( #{params.INDEX_DIMNSN},a.`INDEX_DIMNSN`)
        </if>
        <if test='params.INDEX_PERIOD != null and params.INDEX_PERIOD !=""'>
            AND FIND_IN_SET(#{params.INDEX_PERIOD},a.`INDEX_PERIOD`)
        </if>
    </select>

    <!-- 指标SQL试运行成功查询数据 -->
    <select id="selectDataBySQL" parameterType="string" resultType="hashmap">
        ${runSQL}
    </select>

    <!-- 获取最大序列号 -->
    <select id="getMaxSeq" resultType="java.util.HashMap">
        SELECT MAX(a.IDENTITY_PROPERTY) AS SEQ
        FROM
            `indicators_lib`.`lib_index_relation` a
    </select>

    <!-- 获取指标信息 -->
    <select id="getIndexInfo" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        `indicators_lib`.`lib_index_relation` a
        WHERE 1=1
        <if test=' params.INDEX_ID != null and params.INDEX_ID !="" '>
            AND a.`INDEX_ID` = #{params.INDEX_ID}
        </if>
    </select>

    <!-- 新增指标对应数据表我的指标信息 -->
    <insert id="addMineNewRelation">
         INSERT INTO
            `indicators_lib`.`lib_index_relation`
            (
            INDEX_ID
            ,PARENT_ID
            ,INDEX_NAME
            ,INDEX_DESCR
            ,INDEX_DIMNSN
            ,INDEX_PERIOD
            ,INDEX_CORRE_TABLE
            ,CATEGORY
            ,INDEX_TYPE
            ,PERSONAL_FLAG
            ,RUN_BATCH_STATUS
            ,IDENTITY_PROPERTY
            ,INDEX_DETAILS
            ,INDEX_STATUS
            ,ADD_USERID
            ,ADD_DATE
            ,MODIFY_USERID
            ,MODIFY_DATE
            ,IS_FINAL
            )
        VALUES (
            #{params.INDEX_ID},
            #{params.PARENT_ID},
            #{params.INDEX_NAME},
            #{params.INDEX_DESCR},
            #{params.INDEX_DIMNSN},
            #{params.INDEX_PERIOD},
            #{params.INDEX_CORRE_TABLE},
            #{params.CATEGORY},
            #{params.INDEX_TYPE},
            #{params.PERSONAL_FLAG},
            '0',
            #{params.IDENTITY_PROPERTY},
            #{params.INDEX_DETAILS},
            '0',
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_USERID},
            #{params.MODIFY_DATE},
            '0'
        )
    </insert>

    <!--    指标对应数据表修改指标信息-->
    <update id="updateMineRelation" parameterType="hashmap">
        UPDATE indicators_lib.`lib_index_relation`
         SET
            INDEX_NAME = #{params.INDEX_NAME},
            INDEX_DESCR = #{params.INDEX_DESCR},
            INDEX_DETAILS = #{params.INDEX_DETAILS},
            MODIFY_USERID = #{params.MODIFY_USERID},
            MODIFY_DATE = #{params.MODIFY_DATE}
         WHERE INDEX_ID=#{params.INDEX_ID}
    </update>

    <!--    指标对应数据表删除指标信息-->
    <delete id="deteleMineRelation" parameterType="hashmap">
        DELETE FROM indicators_lib.`lib_index_relation` WHERE INDEX_ID=#{params.INDEX_ID}
    </delete>

    <!-- 新增指标公式表信息 -->
    <insert id="addFormula">
        INSERT INTO
        `indicators_lib`.`lib_index_formula`
        VALUES (
            #{params.INDEX_ID},
            #{params.ORIGINAL_DSCR},
            #{params.ORIGINAL_DSCR_ARRY},
            #{params.INDEX_DSCR},
            #{params.INDEX_DSCR_ARRY},
            #{params.INDEX_CORRE_TABLE},
            #{params.IDENTITY_PROPERTY},
            #{params.EXE_DEL},
            #{params.EXE_INSERT},
            #{params.EXE_SQL},
            #{params.EXE_WHERE},
            #{params.IS_USABLE},
            #{params.BUILD_TYPE},
            #{params.ADD_DATE},
            #{params.ADD_USERID},
            #{params.MODIFY_DATE},
            #{params.MODIFY_USERID},
            #{params.HTML_STR}
        )
    </insert>

    <!-- 修改指标公式表信息 -->
    <update id="updateFormula" parameterType="hashmap">
        UPDATE
            `indicators_lib`.`lib_index_formula`
        SET
            ORIGINAL_DSCR = #{params.ORIGINAL_DSCR},
            ORIGINAL_DSCR_ARRY = #{params.ORIGINAL_DSCR_ARRY},
            INDEX_DSCR = #{params.INDEX_DSCR},
            INDEX_DSCR_ARRY = #{params.INDEX_DSCR_ARRY},
            EXE_SQL = #{params.EXE_SQL},
            EXE_WHERE = #{params.EXE_WHERE},
            MODIFY_DATE = #{params.MODIFY_DATE},
            MODIFY_USERID = #{params.MODIFY_USERID},
            HTML_STR = #{params.HTML_STR}
        WHERE ID = #{params.INDEX_ID}
    </update>

    <!-- 删除指标公式表信息 -->
    <delete id="deleteFormula" parameterType="hashmap">
        DELETE FROM `indicators_lib`.`lib_index_formula` WHERE ID =  #{params.INDEX_ID}
    </delete>

    <!-- 新建指标表 -->
    <select id="createIndexTable">
        CREATE TABLE `indicators_lib`.${params.INDEX_CORRE_TABLE} (
            `INDEX_ID` varchar(32) COLLATE utf8_bin DEFAULT NULL COMMENT '指标id',
            `ACCOUNT_PERIOD` varchar(10) COLLATE utf8_bin DEFAULT NULL COMMENT '账期',
            `INDEX_DIM_CODE` varchar(12) COLLATE utf8_bin DEFAULT NULL COMMENT '指标维度编码',
            `INDEX_DIM_DESCR` varchar(100) COLLATE utf8_bin DEFAULT NULL COMMENT '指标维度描述',
            `DIMENSION_FLAG` varchar(2) COLLATE utf8_bin DEFAULT NULL COMMENT '维度标识(1国库，2地区，3核算主体)',
            `PERIOD_FLAG` varchar(2) COLLATE utf8_bin DEFAULT NULL COMMENT '周期标识(1日，2月，3季，4年)',
            `INDEX_VALUE` decimal(28,2) DEFAULT NULL COMMENT '指标值',
            `ADD_USERID` varchar(32) COLLATE utf8_bin DEFAULT NULL COMMENT '新增人ID',
            `ADD_DATE` varchar(20) COLLATE utf8_bin DEFAULT NULL COMMENT '新增时间',
            `MODIFY_USERID` varchar(32) COLLATE utf8_bin DEFAULT NULL COMMENT '修改人ID',
            `MODIFY_DATE` varchar(20) COLLATE utf8_bin DEFAULT NULL COMMENT '修改时间'
        ) ENGINE=InnoDB DEFAULT CHARSET=utf8 COLLATE=utf8_bin ROW_FORMAT=DYNAMIC COMMENT='${params.INDEX_NAME}'
    </select>

    <!-- 删除指标表 -->
    <select id="dropIndexTable">
        DROP TABLE IF EXISTS `indicators_lib`.${params.INDEX_CORRE_TABLE}
    </select>

    <!-- 手动调用加工逻辑 -->
    <select id="callExeFormulaHand">
        CALL `indicators_lib`.`p_exe_formula_hand`(#{params.exeDate}, #{params.INDEX_ID});
    </select>

    <!-- 新增指标和个人关系表信息 -->
    <insert id="addIndexUser">
        INSERT INTO
        `indicators_lib`.`lib_index_user`
        VALUES (
        #{params.ID},
        #{params.INDEX_ID},
        #{params.ADD_USERID},
        '0'
        )
    </insert>

    <!-- 提交个人指标到公共指标 -->
    <update id="submitIndexData">
        UPDATE indicators_lib.`lib_index_relation`
        SET
            PERSONAL_FLAG = #{params.PERSONAL_FLAG},
            USER_ID = #{params.MODIFY_USERID},
            MODIFY_DATE = #{params.MODIFY_DATE}
        WHERE INDEX_ID = #{params.INDEX_ID}
    </update>

    <!-- 修改指标和个人关系表信息 -->
    <update id="updateIndexUser">
        UPDATE `indicators_lib`.`lib_index_user`
        SET USER_ID = #{params.MODIFY_USERID}
        WHERE INDEX_ID = #{params.INDEX_ID}
    </update>

    <!-- 删除指标和个人关系表信息 -->
    <delete id="deleteIndexUser">
        DELETE FROM  `indicators_lib`.`lib_index_user`  WHERE INDEX_ID = #{params.INDEX_ID}
    </delete>

    <!--    手动调指标历史数据跑批-->
    <select id="indexHistoryRunBatch" statementType="CALLABLE" resultType="string">
        CALL `indicators_lib`.`p_exe_formula_history_hand`(#{params.INDEX_PERIOD}, #{params.INDEX_ID}, #{params.returnVal,mode=OUT,jdbcType=VARCHAR})
    </select>

    <update id="updateHistoryState">
        UPDATE indicators_lib.`lib_index_relation` SET RUN_BATCH_STATUS = #{params.RUN_BATCH_STATUS} WHERE INDEX_ID = #{params.INDEX_ID}
    </update>

</mapper>