<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionRegisterBookMapper">
    <!-- author: Samer 例行检查-检查登记簿 -->

    <!-- 获取整改台账 -->
    <select id="getReformScheme" resultType="java.util.HashMap">
        SELECT
            b.REFORM_SCHEME,
            b.MEMO
        FROM
            `inspection`.`inspection_reform_ledger` a
            JOIN
            `inspection`.`inspection_reform_scheme` b
                ON a.`ID` = b.`REFORM_ID`
        WHERE
            a.`LEDGER_ID` = #{params.LEDGER_ID}
            AND a.`TASK_ID` = #{params.TASK_ID}
        ORDER BY b.`SCHEME_TIME` DESC
        LIMIT 0, 1
    </select>

    <!-- 获取整改问题描述 -->
    <select id="getReformLedgerContent" resultType="java.util.Map">
        SELECT
        a.LEDGER_ID,
        a.QUESTION_ID,
        a.QUESTION_CONTENT
        FROM
        inspection.`inspection_question_ledger` a
        WHERE
        a.`TASK_ID` = #{params.TASK_ID}
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            AND a.IS_REPORT = #{params.IS_REPORT}
        </if>
        AND a.QUESTION_ID_2 = #{params.QUESTION_ID_2}
        AND a.LEDGER_ID IN(
        SELECT
        rl.`LEDGER_ID`
        FROM
        `inspection`.`inspection_reform_ledger` rl
        JOIN
        `inspection`.`inspection_reform_scheme` rs
        ON rl.`ID` = rs.`REFORM_ID`
        WHERE
        rl.`TASK_ID` = #{params.TASK_ID}
        AND rs.REFORM_SCHEME <![CDATA[<>]]> ''
        AND rs.REFORM_SCHEME IS NOT NULL
        AND rs.MEMO <![CDATA[<>]]> ''
        AND rs.MEMO IS NOT NULL
        GROUP BY rl.`LEDGER_ID`
        )
        GROUP BY
        a.QUESTION_CONTENT
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 获取任务ID整改问题清单二级-->
    <select id="getReformLedgerLv2" resultType="java.util.Map">
        SELECT
        a.QUESTION_ID_2,
        a.QUESTION_DSCR_2
        FROM
        inspection.`inspection_question_ledger` a
        WHERE
        a.`TASK_ID` = #{params.TASK_ID}
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            AND a.IS_REPORT = #{params.IS_REPORT}
        </if>
        AND a.QUESTION_ID_1 = #{params.QUESTION_ID_1}
        AND a.LEDGER_ID IN(
        SELECT
        rl.`LEDGER_ID`
        FROM
        `inspection`.`inspection_reform_ledger` rl
        JOIN
        `inspection`.`inspection_reform_scheme` rs
        ON rl.`ID` = rs.`REFORM_ID`
        WHERE
        rl.`TASK_ID` = #{params.TASK_ID}
        AND rs.REFORM_SCHEME <![CDATA[<>]]> ''
        AND rs.REFORM_SCHEME IS NOT NULL
        AND rs.MEMO <![CDATA[<>]]> ''
        AND rs.MEMO IS NOT NULL
        GROUP BY rl.`LEDGER_ID`
        )
        GROUP BY
        a.QUESTION_ID_2
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 获取任务ID整改问题清单一级-->
    <select id="getReformLedgerLv1" resultType="java.util.Map">
        SELECT
        a.QUESTION_ID_1,
        a.QUESTION_DSCR_1
        FROM
        inspection.`inspection_question_ledger` a
        WHERE
        a.`TASK_ID` = #{params.TASK_ID}
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            AND a.IS_REPORT = #{params.IS_REPORT}
        </if>
        AND a.LEDGER_ID IN(
        SELECT
        rl.`LEDGER_ID`
        FROM
        `inspection`.`inspection_reform_ledger` rl
        JOIN
        `inspection`.`inspection_reform_scheme` rs
        ON rl.`ID` = rs.`REFORM_ID`
        WHERE
        rl.`TASK_ID` = #{params.TASK_ID}
        AND rs.REFORM_SCHEME <![CDATA[<>]]> ''
        AND rs.REFORM_SCHEME IS NOT NULL
        AND rs.MEMO <![CDATA[<>]]> ''
        AND rs.MEMO IS NOT NULL
        GROUP BY rl.`LEDGER_ID`
        )
        GROUP BY
        a.QUESTION_ID_1
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 获取检查内容二级 -->
    <select id="getInspectionContentLv2" resultType="java.util.HashMap">
        SELECT
        a.id,
        a.CONTENT_DSCR,
        a.CONTENT_PID,
        a.SORT
        FROM
        <if test='params.queryType=="add"'>
            inspection.`inspection_content` a
        </if>
        <if test='params.queryType=="edit"'>
            inspection.`inspection_content_regbook` a
        </if>
        WHERE
        <if test='params.queryType == "add"'>
            a.`TYPE_CODE` = #{params.TYPE_CODE}
        </if>
        <if test='params.queryType == "edit"'>
            a.`BOOK_ID` = #{params.BOOK_ID}
        </if>
        AND a.`CONTENT_PID` = #{params.CONTENT_PID}
    </select>

    <!-- 获取检查内容一级 -->
    <select id="getInspectionContentLv1" resultType="java.util.HashMap">
        SELECT
        a.id,
        a.CONTENT_DSCR,
        a.CONTENT_PID,
        a.SORT
        FROM
        <if test='params.queryType == "add"'>
            inspection.`inspection_content` a
        </if>
        <if test='params.queryType == "edit"'>
            inspection.`inspection_content_regbook` a
        </if>
        WHERE
        <if test='params.queryType == "add"'>
            a.`TYPE_CODE` = #{params.TYPE_CODE}
        </if>
        <if test='params.queryType == "edit"'>
            a.`BOOK_ID` = #{params.BOOK_ID}
        </if>
        AND (a.`CONTENT_PID` = '' OR a.`CONTENT_PID` IS NULL)
    </select>

    <!-- 新增检查登记簿检查内容 -->
    <select id="addInspectionContentRegBook">
        INSERT INTO inspection.`inspection_content_regbook`
        VALUES (
            #{params.BOOK_ID},
            #{params.TASK_ID},
            #{params.id},
            #{params.CONTENT_DSCR},
            #{params.CONTENT_PID},
            #{params.SORT},
            #{params.ADD_USERID},
            #{params.ADD_DATE}
        )
    </select>

    <!-- 获取被查库信息 -->
    <select id="getTreInfoByTaskId" resultType="java.util.HashMap">
        SELECT *
        FROM
            `dmcode`.`cm_guoku_dimnsn` cd
        WHERE
            cd.`guoku_id` = (
                SELECT a.`INSPECTED_GUOKU_ID`
                FROM
                    `inspection`.`inspection_task` a
                WHERE
                    a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            )
    </select>

    <!-- 获取登记簿信息 -->
    <select id="getRegisterBookInfo" resultType="java.util.HashMap">
        SELECT *
        FROM `inspection`.`inspection_register_book` a
        WHERE 1=1
        <if test=' params.TASK_ID != null and  params.TASK_ID != ""'>
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
        <if test=' params.BOOK_ID != null and  params.BOOK_ID != ""'>
            AND a.BOOK_ID = #{params.BOOK_ID}
        </if>
    </select>

    <!-- 例行检查登记簿新增 -->
    <insert id="addRegisterBook">
        INSERT INTO `inspection`.`inspection_register_book`
        VALUES (
            #{params.BOOK_ID},
            #{params.BOOK_NAME},
            #{params.TASK_ID},
            #{params.INSPECT_DATE},
            #{params.DIRECTOR},
            #{params.DEPARTMENT_HEAD},
            #{params.MEMBERS},
            #{params.ATTACHMENT_NAME},
            #{params.PAPER_ATTACHMENT},
            #{params.PRINT_ATTACHMENT},
            #{params.INSPECT_CONTENT},
            #{params.BASE_SITUATION},
            #{params.NOT_OTHER_CONTENT},
            #{params.OTHER_CONTENT},
            #{params.REFORM_INFO},
            #{params.REFORM_SUGGEST},
            #{params.BECHICKED_OPINION},
            #{params.ADD_DATE},
            #{params.ADD_USERID},
            #{params.MODIFY_DATE},
            #{params.MODIFY_USERID}
        )
    </insert>

    <!-- 编辑例行检查登记簿 -->
    <insert id="updateRegisterBook">
        UPDATE `inspection`.`inspection_register_book`
        SET
            BOOK_NAME         = #{params.BOOK_NAME},
            TASK_ID           = #{params.TASK_ID},
            INSPECT_DATE      = #{params.INSPECT_DATE},
            DIRECTOR          = #{params.DIRECTOR},
            DEPARTMENT_HEAD   = #{params.DEPARTMENT_HEAD},
            MEMBERS           = #{params.MEMBERS},
            ATTACHMENT_NAME   = #{params.ATTACHMENT_NAME},
            PAPER_ATTACHMENT  = #{params.PAPER_ATTACHMENT},
            PRINT_ATTACHMENT  = #{params.PRINT_ATTACHMENT},
            INSPECT_CONTENT   = #{params.INSPECT_CONTENT},
            BASE_SITUATION    = #{params.BASE_SITUATION},
            NOT_OTHER_CONTENT = #{params.NOT_OTHER_CONTENT},
            OTHER_CONTENT     = #{params.OTHER_CONTENT},
            REFORM_INFO       = #{params.REFORM_INFO},
            REFORM_SUGGEST    = #{params.REFORM_SUGGEST},
            BECHICKED_OPINION = #{params.BECHICKED_OPINION},
            ADD_DATE          = #{params.ADD_DATE},
            ADD_USERID        = #{params.ADD_USERID},
            MODIFY_DATE       = #{params.MODIFY_DATE},
            MODIFY_USERID     = #{params.MODIFY_USERID}
        WHERE BOOK_ID = #{params.BOOK_ID}
    </insert>


</mapper>