<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionTemporarySumMapper">
    <!-- author: Samer 临时检查汇总表 -->

    <!-- 获取子流程信息 -->
    <select id="getProcSubTitle" resultType="java.util.Map">
        SELECT
            *
        FROM
            `inspection`.`inspection_task_template_sub` a
        WHERE
            a.`TEMP_PROC_SUB_ID` = #{params.TEMP_PROC_SUB_ID}
    </select>

    <!-- 根据任务ID获取台账及整改信息 -->
    <select id="getLedgerReformInfoByTaskId" resultType="java.util.Map">
        SELECT
        a.LEDGER_ID,
        a.`QUESTION_ID`,
        a.`QUESTION_ID_1`,
        a.QUESTION_DSCR_1,
        a.`QUESTION_ID_2`,
        a.QUESTION_DSCR_2,
        a.QUESTION_CONTENT,
        a.QUESTION_OPINIONS,
        c.REFORM_SCHEME,
        c.MEMO
        FROM
        inspection.`inspection_question_ledger` a
        LEFT JOIN
        inspection.`inspection_reform_ledger` b
        ON a.`LEDGER_ID` = b.`LEDGER_ID`
        LEFT JOIN
        inspection.`inspection_reform_scheme` c
        ON b.`ID` = c.`REFORM_ID`
        WHERE
        1 = 1
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            AND a.TASK_ID =#{params.TASK_ID}
        </if>
        ORDER BY
        a.`QUESTION_ID_1`,
        a.`QUESTION_ID_2`,
        a.`QUESTION_ID`,
        a.ADD_USERID,
        a.ADD_DATE DESC
    </select>

</mapper>