<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionReminderMapper">
    <!-- author: Samer 提醒功能映射文件-->

    <!--新增提醒信息-->
    <insert id="addReminderInfo">
        INSERT INTO `inspection`.`inspection_task_reminder`
                VALUES (
                    #{params.REMINDER_ID},
                    #{params.REMINDER_DATE},
                    #{params.REMINDER_TIME},
                    #{params.REMINDER_TITLE},
                    #{params.REMINDER_CYCLE},
                    #{params.REMINDER_CONTENT},
                    #{params.REMINDER_START_DATE},
                    #{params.REMINDER_END_DATE},
                    #{params.REMINDER_NUMBER},
                    #{params.REMINDER_TYPE},
                    #{params.TASK_ID},
                    #{params.TASK_NAME},
                    #{params.RECEIVE_ORG_ID},
                    #{params.RECEIVE_ORG_DSCR},
                    #{params.IS_PUBLISH},
                    #{params.PUBLISH_DATE},
                    #{params.PUBLISH_ORG},
                    #{params.PUBLISH_USERID},
                    #{params.IS_DEL},
                    #{params.ADD_DATE},
                    #{params.ADD_USERID}
                )
    </insert>

    <!-- 提醒信息系统同步，调用同步存储过程, 参数1为立即提醒 -->
    <select id="callReminderSyncProcedure">
        CALL `inspection`.`p_inspection_task_reminder_sync`(
                #{params.REMINDER_TYPE},
                #{params.PUBLISH}
        );
    </select>

</mapper>