<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionRoutinePeriodMapper">
    <!-- author: Samer -->

    <!-- 获取例行检查类型与周期记录 -->
    <select id="getRoutinePeriodInfo" resultType="java.util.Map">
        SELECT
        a.*,
        b.MAX_PREIOD_CODE,
        c.TEMP_TYPE_NAME AS TYPE_DSCR
        FROM
        `inspection`.`inspection_routine_period` a
        LEFT JOIN
        (SELECT
        a.`TYPE_ID`,
        MAX(CAST(A.`PERIOD_CODE` AS SIGNED)) AS MAX_PREIOD_CODE
        FROM
        `inspection`.`inspection_routine_period` a
        GROUP BY a.`TYPE_ID`) b
        ON a.TYPE_ID = b.TYPE_ID
        LEFT JOIN (
        SELECT
        it.`TEMP_TYPE_ID`,
        it.`TEMP_TYPE_NAME`
        FROM
        `inspection`.`inspection_task_template` it
        GROUP BY it.`TEMP_TYPE_ID`
        )c
        ON a.TYPE_ID = c.TEMP_TYPE_ID
        WHERE 1 = 1
        <if test='params.TYPE_ID != null and params.TYPE_ID != ""'>
            AND a.TYPE_ID = #{params.TYPE_ID}
        </if>
        ORDER BY a.TYPE_ID,CAST(A.`PERIOD_CODE` AS SIGNED)
    </select>

    <!-- 根据检查类型删除周期 -->
    <delete id="delRoutinePeriodByTypeId">
        DELETE FROM
            `inspection`.`inspection_routine_period`
        WHERE
            TYPE_ID = #{params.TYPE_ID}
    </delete>

    <!-- 新增检查类型周期 -->
    <insert id="insertRoutinePeriod">
        INSERT INTO  `inspection`.`inspection_routine_period`
                VALUES
        <foreach collection="params.dataList" item="item" separator=",">
            (
            #{item.TYPE_ID},
            #{item.PERIOD_CODE},
            #{item.PERIOD_DSCR},
            #{item.STAR_DATE},
            #{item.END_DATE},
            #{item.STATE}
            )
        </foreach>
    </insert>


</mapper>