<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionGroupMapper">


    <select id="getInspectionGroupPage" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        inspection.inspection_group a
        WHERE
        1 = 1
        <if test="params.INSPECTION_GROUP_ID!=null and params.INSPECTION_GROUP_ID != ''">
            AND a.INSPECTION_GROUP_ID = #{params.INSPECTION_GROUP_ID}
        </if>
        <if test="params.INSPECTION_TASK_ID!=null and params.INSPECTION_TASK_ID!='' ">
            AND a.INSPECTION_TASK_ID = #{params.INSPECTION_TASK_ID}
        </if>
        <if test="params.INSPECTION_GROUP_NAME!=null and params.INSPECTION_GROUP_NAME!='' ">
            AND a.INSPECTION_GROUP_NAME like '%${params.INSPECTION_GROUP_NAME}%'
        </if>
        <if test="params.INSPECTED_GUOKU_ID!=null and params.INSPECTED_GUOKU_ID!='' ">
            AND a.INSPECTED_GUOKU_ID = #{params.INSPECTED_GUOKU_ID}
        </if>
        LIMIT ${params.page},${params.rows}
    </select>

    <select id="getInspectionGroupData" resultType="java.util.Map">
        SELECT
        *
        FROM
        inspection.inspection_group a
        WHERE
        1 = 1
        <if test="params.INSPECTION_GROUP_ID!=null and params.INSPECTION_GROUP_ID != ''">
            AND a.INSPECTION_GROUP_ID = #{params.INSPECTION_GROUP_ID}
        </if>
        <if test="params.INSPECTION_TASK_ID!=null and params.INSPECTION_TASK_ID!='' ">
            AND a.INSPECTION_TASK_ID = #{params.INSPECTION_TASK_ID}
        </if>
        <if test="params.INSPECTION_GROUP_NAME!=null and params.INSPECTION_GROUP_NAME!='' ">
            AND a.INSPECTION_GROUP_NAME like '%${params.INSPECTION_GROUP_NAME}%'
        </if>
        <if test="params.INSPECTED_GUOKU_ID!=null and params.INSPECTED_GUOKU_ID!='' ">
            AND a.INSPECTED_GUOKU_ID = #{params.INSPECTED_GUOKU_ID}
        </if>
    </select>

    <select id="getInspectionGroupCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        inspection.inspection_group a
        WHERE
        1 = 1
        <if test="params.INSPECTION_GROUP_ID!=null and params.INSPECTION_GROUP_ID != ''">
            AND a.INSPECTION_GROUP_ID = #{params.INSPECTION_GROUP_ID}
        </if>
        <if test="params.INSPECTION_TASK_ID!=null and params.INSPECTION_TASK_ID!='' ">
            AND a.INSPECTION_TASK_ID = #{params.INSPECTION_TASK_ID}
        </if>
        <if test="params.INSPECTION_GROUP_NAME!=null and params.INSPECTION_GROUP_NAME!='' ">
            AND a.INSPECTION_GROUP_NAME like '%${params.INSPECTION_GROUP_NAME}%'
        </if>
        <if test="params.INSPECTED_GUOKU_ID!=null and params.INSPECTED_GUOKU_ID!='' ">
            AND a.INSPECTED_GUOKU_ID = #{params.INSPECTED_GUOKU_ID}
        </if>
    </select>

    <insert id="addInspectionGroup" >
        INSERT INTO inspection.inspection_group
        VALUES
        (
        #{params.INSPECTION_GROUP_ID},
        #{params.INSPECTION_TASK_ID},
        #{params.INSPECTION_GROUP_NAME},
        #{params.INSPECTED_GUOKU_ID}
        )
    </insert>

    <update id="editInspectionGroup">
        UPDATE inspection.inspection_group SET
        <if test=" params.INSPECTION_TASK_ID != null and params.INSPECTION_TASK_ID != ''">
            INSPECTION_TASK_ID = #{params.INSPECTION_TASK_ID},
        </if>
        <if test=" params.INSPECTION_GROUP_NAME != null and params.INSPECTION_GROUP_NAME != ''">
            INSPECTION_GROUP_NAME = #{params.INSPECTION_GROUP_NAME},
        </if>
        <if test=" params.INSPECTED_GUOKU_ID != null and params.INSPECTED_GUOKU_ID != ''">
            INSPECTED_GUOKU_ID = #{params.INSPECTED_GUOKU_ID},
        </if>
        INSPECTION_GROUP_ID = #{params.INSPECTION_GROUP_ID}
        WHERE INSPECTION_GROUP_ID = #{params.INSPECTION_GROUP_ID}
    </update>

    <select id="checkRepeat" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        inspection.inspection_group a
        WHERE
        1 = 1
        <if test=" params.INSPECTION_GROUP_ID != null and params.INSPECTION_GROUP_ID != '' ">
            AND a.INSPECTION_GROUP_ID != #{params.INSPECTION_GROUP_ID}
        </if>
        <if test=" params.INSPECTION_GROUP_NAME != null and params.INSPECTION_GROUP_NAME != '' ">
            AND a.INSPECTION_GROUP_NAME = #{params.INSPECTION_GROUP_NAME}
        </if>
    </select>

    <delete id="delInspectionGroup" >
        DELETE
        FROM
        inspection.inspection_group
        WHERE 1 = 1
        <if test="params.INSPECTION_GROUP_ID!=null and params.INSPECTION_GROUP_ID != ''">
            AND INSPECTION_GROUP_ID = #{params.INSPECTION_GROUP_ID}
        </if>
    </delete>

</mapper>