<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionReceptionMapper">

    <select id="getInspectionReceptionData" resultType="java.util.Map">
        SELECT
        *
        FROM
        inspection.inspection_reception a
        WHERE
        1 = 1
        <if test="params.ID!=null and params.ID != ''">
            AND a.ID = #{params.ID}
        </if>
        <if test="params.TASK_ID!=null and params.TASK_ID!='' ">
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
    </select>

    <insert id="addInspectionReception" >
        INSERT INTO inspection.inspection_reception
        VALUES
        (
        #{params.ID},
        #{params.TASK_ID},
        #{params.bank},
        #{params.company},
        #{params.member},
        #{params.content},
        #{params.formation},
        #{params.update_time},
        #{params.file_path}
        )
    </insert>

    <update id="editInspectionReception">
        UPDATE inspection.inspection_reception SET
        <if test=" params.TASK_ID != null">
            TASK_ID = #{params.TASK_ID},
        </if>
        <if test=" params.bank != null">
            bank = #{params.bank},
        </if>
        <if test=" params.company != null">
            company = #{params.company},
        </if>
        <if test=" params.member != null">
            member = #{params.member},
        </if>
        <if test=" params.content != null">
            content = #{params.content},
        </if>
        <if test=" params.formation != null">
            formation = #{params.formation},
        </if>
        <if test=" params.update_time != null">
            update_time = #{params.update_time},
        </if>
        <if test=" params.file_path != null">
            file_path = #{params.file_path},
        </if>
        ID = #{params.ID}
        WHERE ID = #{params.ID}
    </update>

    <delete id="delInspectionReception" >
        DELETE
        FROM
        inspection.inspection_reception
        WHERE 1 = 1
        <if test="params.ID!=null and params.ID != ''">
            AND ID = #{params.ID}
        </if>
        <if test="params.TASK_ID!=null and params.TASK_ID != ''">
            AND TASK_ID = #{params.TASK_ID}
        </if>
    </delete>

</mapper>