<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionPostSVNoticeMapper">
    <!-- author: Samer  事后监督监督通知-->

    <!-- 获取记录 -->
    <select id="getRecord" resultType="java.util.HashMap">
        SELECT *,false AS isSet
        FROM
        `inspection`.`inspection_postsv_notice` a
        WHERE 1=1
        <if test='params.NOTICE_ID != null and params.NOTICE_ID != ""'>
            AND a.NOTICE_ID = #{params.NOTICE_ID}
        </if>
        <if test='params.TASK_ID != null and params.TASK_ID != ""'>
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
    </select>

    <!-- 修改记录 -->
    <update id="editRecord">
        UPDATE `inspection`.`inspection_postsv_notice`
        SET
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            TASK_ID = #{params.TASK_ID},
        </if>
        <if test=' params.ADD_USERID != null and params.ADD_USERID != "" '>
            ADD_USERID = #{params.ADD_USERID},
        </if>
        <if test=' params.ADD_DATE != null and params.ADD_DATE != "" '>
            ADD_DATE = #{params.ADD_DATE},
        </if>
        <if test=' params.MODIFY_USERID != null and params.MODIFY_USERID != "" '>
            MODIFY_USERID = #{params.MODIFY_USERID},
        </if>
        <if test=' params.MODIFY_DATE != null and params.MODIFY_DATE != "" '>
            MODIFY_DATE = #{params.MODIFY_DATE},
        </if>
        <if test=' params.ATTACHMENT_NAME != null and params.ATTACHMENT_NAME != "" '>
            ATTACHMENT_NAME = #{params.ATTACHMENT_NAME},
        </if>
        <if test=' params.PAPER_ATTACHMENT != null and params.PAPER_ATTACHMENT != "" '>
            PAPER_ATTACHMENT = #{params.PAPER_ATTACHMENT},
        </if>
        <if test=' params.PRINT_ATTACHMENT != null and params.PRINT_ATTACHMENT != "" '>
            PRINT_ATTACHMENT = #{params.PRINT_ATTACHMENT},
        </if>
        <if test=' params.BOOKORG_DSCR != null and params.BOOKORG_DSCR != "" '>
            BOOKORG_DSCR=#{params.BOOKORG_DSCR},
        </if>
        <if test=' params.NOTICE_NO != null and params.NOTICE_NO != "" '>
            NOTICE_NO=#{params.NOTICE_NO},
        </if>
        <if test=' params.ACC_DATE != null and params.ACC_DATE != "" '>
            ACC_DATE=#{params.ACC_DATE},
        </if>
        <if test=' params.MAKERS != null and params.MAKERS != "" '>
            MAKERS=#{params.MAKERS},
        </if>
        <if test=' params.QUESTION_CONTENT != null and params.QUESTION_CONTENT != "" '>
            QUESTION_CONTENT=#{params.QUESTION_CONTENT},
        </if>
        <if test=' params.ERROR_TYPE != null and params.ERROR_TYPE != "" '>
            ERROR_TYPE=#{params.ERROR_TYPE},
        </if>
        <if test=' params.RULES != null and params.RULES != "" '>
            RULES=#{params.RULES},
        </if>
        <if test=' params.BACK_DATE != null and params.BACK_DATE != "" '>
            BACK_DATE=#{params.BACK_DATE},
        </if>
        <if test=' params.TRE_ACC_DATE != null and params.TRE_ACC_DATE != "" '>
            TRE_ACC_DATE=#{params.TRE_ACC_DATE},
        </if>
        <if test=' params.TRE_MAKERS != null and params.TRE_MAKERS != "" '>
            TRE_MAKERS=#{params.TRE_MAKERS},
        </if>
        <if test=' params.TRE_SUPERVISOR != null and params.TRE_SUPERVISOR != "" '>
            TRE_SUPERVISOR=#{params.TRE_SUPERVISOR},
        </if>
        <if test=' params.RESULT != null and params.RESULT != "" '>
            RESULT=#{params.RESULT},
        </if>
        <if test=' params.AFTER_HEAD != null and params.AFTER_HEAD != "" '>
            AFTER_HEAD=#{params.AFTER_HEAD},
        </if>
        <if test=' params.MEMBERS != null and params.MEMBERS != "" '>
            MEMBERS=#{params.MEMBERS},
        </if>
        <if test=' params.SUV_DATE != null and params.SUV_DATE != "" '>
            SUV_DATE=#{params.SUV_DATE},
        </if>
        NOTICE_ID = #{params.NOTICE_ID}
        WHERE
        NOTICE_ID = #{params.NOTICE_ID}
    </update>

    <!-- 新增记录 -->
    <insert id="addRecord">
        INSERT INTO `inspection`.`inspection_postsv_notice`
        VALUES (
            #{params.NOTICE_ID},
            #{params.TASK_ID},
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_USERID},
            #{params.MODIFY_DATE},
            #{params.ATTACHMENT_NAME},
            #{params.PAPER_ATTACHMENT},
            #{params.PRINT_ATTACHMENT},
            #{params.BOOKORG_DSCR},
            #{params.NOTICE_NO},
            #{params.ACC_DATE},
            #{params.MAKERS},
            #{params.QUESTION_CONTENT},
            #{params.ERROR_TYPE},
            #{params.ERROR_TYPE_DSCR},
            #{params.RULES},
            #{params.BACK_DATE},
            #{params.TRE_ACC_DATE},
            #{params.TRE_MAKERS},
            #{params.TRE_SUPERVISOR},
            #{params.RESULT},
            #{params.AFTER_HEAD},
            #{params.MEMBERS},
            #{params.SUV_DATE}
        )
    </insert>

</mapper>