<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionCheckAccountSheetMapper">
    <!-- author: Samer 对账登记表-->

    <!-- 获取子表信息 -->
    <select id="getSheetSubInfo" resultType="java.util.Map">
        SELECT
            a.*,
            FALSE AS isSet
        FROM
            `inspection`.`inspection_check_account_sheet_sub` a
        WHERE
            a.`SHEET_ID` = #{params.SHEET_ID}
    </select>

    <!-- 根据登记表名查找表名 -->
    <select id="getSheetNameByName" resultType="java.util.Map">
        SELECT
            a.`SHEET_ID`,
            a.`SHEET_NAME`
        FROM
            `inspection`.`inspection_check_account_sheet` a
        WHERE
            a.`TASK_ID` = #{params.TASK_ID}
            AND a.`SHEET_NAME` = #{params.SHEET_NAME}
    </select>

    <!-- 根据被查库ID任务ID查找对账单位ID -->
    <select id="getTaxOrgIdById" resultType="java.util.Map">
        SELECT *
        FROM
        `inspection`.`inspection_check_account_sheet` a
        WHERE
        a.`TASK_ID` = #{params.TASK_ID}
        <if test='params.SHEET_ID != null and params.SHEET_ID != ""'>
            AND a.`SHEET_ID` = #{params.SHEET_ID}
        </if>
    </select>

    <!-- 获取征收机构信息 -->
    <select id="getTaxOrgInfo" resultType="java.util.HashMap">
        SELECT
        a.`TAX_ORG_ID` AS id,
        a.`TAX_ORG_DSCR` AS name
        FROM
        dmcode.`cm_guoku_taxorg` a
        WHERE 1=1
        <if test=' params.TAX_ORG_ID !=null and params.TAX_ORG_ID!="" '>
            AND a.TAX_ORG_ID = #{params.TAX_ORG_ID}
        </if>
    </select>

    <!-- 根据当前任务ID获取核算主体包含的国库 -->
    <select id="getCurTreCodeByTaskId" resultType="java.util.HashMap">
        SELECT
            a.`guoku_id`   AS id,
            a.`guoku_dscr` AS name
        FROM
            dmcode.`cm_guoku_dimnsn` a
        WHERE
            a.bookorgcode IN (
                SELECT ii.`BOOKORG_ID`
                FROM
                    `inspection`.`inspection_task` ii
                WHERE
                    ii.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            )
    </select>

    <!-- 根据任务ID获取对账登记表信息 -->
    <select id="getCheckAccInfoByTaskId" resultType="java.util.HashMap">
        SELECT
            a.`SHEET_ID`,
            a.`SHEET_NAME`,
            b.realname AS `NAME`
        FROM
            `inspection`.`inspection_check_account_sheet` a
            JOIN
            `jeecg-boot-os`.`sys_user` b
                ON a.`ADD_USERID` = b.`id`
        WHERE
            a.`TASK_ID` = #{params.TASK_ID}
    </select>

    <!-- 根据对账登记表ID获取详细信息 -->
    <select id="getCheckAccSubInfoBySheetId" resultType="java.util.HashMap">
        SELECT
            a.`SHEET_ID`,
            a.TASK_ID,
            a.`SHEET_NAME`,
            a.DEPARTMENT_HEAD,
            a.GROUP_LEADER_FT,
            a.NAME,
            a.`INSPECTED_GUOKU_ID`,
            c.`guoku_dscr`                       AS INSPECTED_GUOKU_DSCR,
            a.`CHECK_ACCOUNT_ORG_ID`,
            b.`ACC_DATE`,
            b.`ACC_CONTENT`,
            b.`TRE_AMT`,
            b.`CHECK_ORG_AMT`,
            b.`DIF_AMT`,
            b.`REMARKS`,
            FALSE                                AS isSet,
            DATE_FORMAT(a.ADD_DATE, '%Y年%m月%d日') AS ADD_DATE
        FROM
            `inspection`.`inspection_check_account_sheet` a
            LEFT JOIN
            `inspection`.`inspection_check_account_sheet_sub` b
                ON a.`SHEET_ID` = b.`SHEET_ID`
            LEFT JOIN
            dmcode.`cm_guoku_dimnsn` c
                ON a.INSPECTED_GUOKU_ID = c.`guoku_id`
        WHERE
            a.`SHEET_ID` = #{params.SHEET_ID}
    </select>

    <!-- 新增对账登记表信息 -->
    <insert id="addCheckAccountInfo">
        INSERT INTO
            `inspection`.`inspection_check_account_sheet`
        VALUES (
            #{params.SHEET_ID},
            #{params.TASK_ID},
            #{params.SHEET_NAME},
            #{params.INSPECTED_GUOKU_ID},
            #{params.CHECK_ACCOUNT_ORG_ID},
            #{params.DEPARTMENT_HEAD},
            #{params.GROUP_LEADER_FT},
            #{params.NAME},
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_USERID},
            #{params.MODIFY_DATE}
        )
    </insert>

    <!-- 根据SHEET_ID更新对账登记表信息 -->
    <update id="updateCheckAccountInfo">
        UPDATE
            `inspection`.`inspection_check_account_sheet`
        SET
            SHEET_NAME           = #{params.SHEET_NAME},
            INSPECTED_GUOKU_ID   = #{params.INSPECTED_GUOKU_ID},
            CHECK_ACCOUNT_ORG_ID = #{params.CHECK_ACCOUNT_ORG_ID},
            DEPARTMENT_HEAD      = #{params.DEPARTMENT_HEAD},
            GROUP_LEADER_FT      = #{params.GROUP_LEADER_FT},
            `NAME`               = #{params.NAME},
            MODIFY_DATE          = #{params.MODIFY_DATE}
        WHERE
            SHEET_ID = #{params.SHEET_ID}
    </update>

    <!-- 新增对账登记表子表内容 -->
    <insert id="addCheckAccSubInfo">
        INSERT INTO
        `inspection`.`inspection_check_account_sheet_sub`
        VALUES
        <foreach collection="params.sheetContentList" item="itemMap" separator=",">
            (
            #{params.SHEET_ID},
            #{itemMap.ACC_DATE},
            #{itemMap.ACC_CONTENT},
            #{itemMap.TRE_AMT},
            #{itemMap.CHECK_ORG_AMT},
            #{itemMap.DIF_AMT},
            #{itemMap.REMARKS}
            )
        </foreach>
    </insert>

    <!-- 根据SHEET_ID删除对账登记表信息 -->
    <delete id="delCheckAccInfoBySheetId">
        DELETE FROM
            `inspection`.`inspection_check_account_sheet`
        WHERE
            SHEET_ID = #{params.SHEET_ID};
    </delete>

    <!-- 根据SHEET_ID删除对账登记表子表内容 -->
    <delete id="delCheckAccSubBySheetId">
        DELETE FROM
            `inspection`.`inspection_check_account_sheet_sub`
        WHERE
            SHEET_ID = #{params.SHEET_ID};
    </delete>


</mapper>