<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionTaskTemplateMapper">
    <!-- author: Samer 监督检查任务模板映射文件 -->

    <!-- 根据任务类型ID获取大流程步骤 -->
    <select id="getTaskProcessByTypeId" resultType="java.util.Map">
        SELECT
            a.`TEMP_PROC_ID`,
            a.`TEMP_PROC_NAME`
        FROM
            `inspection`.`inspection_task_template` a
        WHERE 1=1
        <if test=' TEMP_TYPE_ID != null and  TEMP_TYPE_ID != "" '>
            AND a.`TEMP_TYPE_ID` = #{TEMP_TYPE_ID}
        </if>
        ORDER BY CAST(a.`SORT` AS SIGNED);
    </select>

    <!-- 根据大流程ID获取小流程 -->
    <select id="getSubProcessByProcId" resultType="java.util.Map">
        SELECT
        *
        FROM
        `inspection`.`inspection_task_template_sub` a
        WHERE 1=1
        <if test=' TEMP_PROC_ID != null and  TEMP_PROC_ID != "" '>
            AND a.`TEMP_PROC_ID` = #{TEMP_PROC_ID}
        </if>
        ORDER BY CAST(a.`SORT` AS SIGNED);
    </select>

</mapper>