<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionEvidenceRecordMapper">
    <!-- author: Samer  执法检查取证记录-->

    <!-- 获取主表信息 -->
    <select id="getEvidenceRecordMainInfo" resultType="java.util.HashMap">
        SELECT *,REPLACE(a.ATTACHMENT_NAME, '.doc', "") AS TITLE
        FROM
            `inspection`.`inspection_law_evidence_record` a
        WHERE 1=1
        <if test='params.RECORD_ID != null and params.RECORD_ID != ""'>
            AND a.RECORD_ID = #{params.RECORD_ID}
        </if>
        <if test='params.TASK_ID != null and params.TASK_ID != ""'>
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
        <if test='params.DEPARTMENT != null and params.DEPARTMENT != ""'>
            AND a.DEPARTMENT = #{params.DEPARTMENT}
        </if>
        <if test='params.RECORD_TYPE != null and params.RECORD_TYPE != ""'>
            AND a.RECORD_TYPE = #{params.RECORD_TYPE}
        </if>
        <if test='params.PROVIDER != null and params.PROVIDER != ""'>
            AND a.PROVIDER = #{params.PROVIDER}
        </if>
        GROUP BY
        a.TASK_ID,
        a.PROVIDER
    </select>

    <!-- 获取取证记录子表 -->
    <select id="getEvidenceRecordSheet" resultType="java.util.HashMap">
        SELECT
            *,
        false AS isSet
        FROM
            `inspection`.`inspection_law_evidence_record_sheet` a
        WHERE 1=1
        <if test='params.RECORD_ID != null and params.RECORD_ID != ""'>
            AND a.RECORD_ID = #{params.RECORD_ID}
        </if>
    </select>

    <!-- 获取取证记录 -->
    <select id="getEvidenceRecord" resultType="java.util.HashMap">
        SELECT *,false AS isSet, REPLACE(a.ATTACHMENT_NAME, '.doc', "") AS TITLE
        FROM
        `inspection`.`inspection_law_evidence_record` a
        LEFT JOIN
        `inspection`.`inspection_law_evidence_record_sheet` b
        ON a.RECORD_ID = b.RECORD_ID
        WHERE 1=1
        <if test='params.RECORD_ID != null and params.RECORD_ID != ""'>
            AND a.RECORD_ID = #{params.RECORD_ID}
        </if>
        <if test='params.TASK_ID != null and params.TASK_ID != ""'>
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
        <if test='params.DEPARTMENT != null and params.DEPARTMENT != ""'>
            AND a.DEPARTMENT = #{params.DEPARTMENT}
        </if>
        <if test='params.RECORD_TYPE != null and params.RECORD_TYPE != ""'>
            AND a.RECORD_TYPE = #{params.RECORD_TYPE}
        </if>
        <if test='params.PROVIDER != null and params.PROVIDER != ""'>
            AND a.PROVIDER = #{params.PROVIDER}
        </if>
    </select>

    <!-- 修改取证记录 -->
    <update id="editEvidenceRecord">
        UPDATE `inspection`.`inspection_law_evidence_record`
        SET
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            TASK_ID= #{params.TASK_ID},
        </if>
        <if test=' params.DEPARTMENT != null and params.DEPARTMENT != "" '>
            DEPARTMENT= #{params.DEPARTMENT},
        </if>
        <if test=' params.RECORD_TYPE != null and params.RECORD_TYPE != "" '>
            RECORD_TYPE= #{params.RECORD_TYPE},
        </if>
        <if test=' params.RECORD_NUM != null and params.RECORD_NUM != "" '>
            RECORD_NUM= #{params.RECORD_NUM},
        </if>
        <if test=' params.PROVIDER != null and params.PROVIDER != "" '>
            PROVIDER= #{params.PROVIDER},
        </if>
        <if test=' params.OBTAIN_DATE != null and params.OBTAIN_DATE != "" '>
            OBTAIN_DATE= #{params.OBTAIN_DATE},
        </if>
        <if test=' params.CHECKED_LEADER != null and params.CHECKED_LEADER != "" '>
            CHECKED_LEADER= #{params.CHECKED_LEADER},
        </if>
        <if test=' params.CHECKED_ORG_DSCR != null and params.CHECKED_ORG_DSCR != "" '>
            CHECKED_ORG_DSCR= #{params.CHECKED_ORG_DSCR},
        </if>
        <if test=' params.CHECK_ORG_DSCR != null and params.CHECK_ORG_DSCR != "" '>
            CHECK_ORG_DSCR= #{params.CHECK_ORG_DSCR},
        </if>
        <if test=' params.SOURCE_SITE != null and params.SOURCE_SITE != "" '>
            SOURCE_SITE= #{params.SOURCE_SITE},
        </if>
        <if test=' params.ADD_USERID != null and params.ADD_USERID != "" '>
            ADD_USERID= #{params.ADD_USERID},
        </if>
        <if test=' params.ADD_DATE != null and params.ADD_DATE != "" '>
            ADD_DATE= #{params.ADD_DATE},
        </if>
        <if test=' params.MODIFY_USERID != null and params.MODIFY_USERID != "" '>
            MODIFY_USERID= #{params.MODIFY_USERID},
        </if>
        <if test=' params.MODIFY_DATE != null and params.MODIFY_DATE != "" '>
            MODIFY_DATE= #{params.MODIFY_DATE},
        </if>
        <if test=' params.ATTACHMENT_NAME != null and params.ATTACHMENT_NAME != "" '>
            ATTACHMENT_NAME= #{params.ATTACHMENT_NAME},
        </if>
        <if test=' params.PAPER_ATTACHMENT != null and params.PAPER_ATTACHMENT != "" '>
            PAPER_ATTACHMENT= #{params.PAPER_ATTACHMENT},
        </if>
        <if test=' params.PRINT_ATTACHMENT != null and params.PRINT_ATTACHMENT != "" '>
            PRINT_ATTACHMENT= #{params.PRINT_ATTACHMENT},
        </if>
        RECORD_ID = #{params.RECORD_ID}
        WHERE
        RECORD_ID = #{params.RECORD_ID}
    </update>

    <!-- 新增取证记录 -->
    <insert id="addEvidenceRecord">
        INSERT INTO `inspection`.`inspection_law_evidence_record`
        VALUES (
            #{params.RECORD_ID},
            #{params.TASK_ID},
            #{params.DEPARTMENT},
            #{params.RECORD_TYPE},
            #{params.RECORD_NUM},
            #{params.PROVIDER},
            #{params.OBTAIN_DATE},
            #{params.CHECKED_LEADER},
            #{params.CHECKED_ORG_DSCR},
            #{params.CHECK_ORG_DSCR},
            #{params.SOURCE_SITE},
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_USERID},
            #{params.MODIFY_DATE},
            #{params.ATTACHMENT_NAME},
            #{params.PAPER_ATTACHMENT},
            #{params.PRINT_ATTACHMENT}
        )
    </insert>

    <!-- 删除取证记录 -->
    <delete id="deleteEvidenceRecord">
        DELETE FROM `inspection`.`inspection_law_evidence_record`
        WHERE
            RECORD_ID = #{params.RECORD_ID}
    </delete>

    <!-- 新增取证记录子表 -->
    <insert id="addEvidenceRecordSheet">
        INSERT INTO `inspection`.`inspection_law_evidence_record_sheet`
        VALUES
        <foreach collection="params.dataList" item="data" separator=",">
            (
            #{params.RECORD_ID},
            #{data.EVIDENCE_CODE},
            #{data.EVIDENCE_DSCR},
            #{data.NUMBER},
            #{data.ORIGINAL_COPY}
            )
        </foreach>
    </insert>

    <!-- 删除取证记录子表 -->
    <delete id="delEvidenceRecordSheet">
        DELETE FROM `inspection`.`inspection_law_evidence_record_sheet`
        WHERE
            RECORD_ID = #{params.RECORD_ID}
    </delete>

</mapper>