<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionContentMapper">

    <select id="getContentData" resultType="java.util.Map">
        SELECT
        a.*, (
        SELECT
        ENUM_DSCR
        FROM
        enumset.cm_guoku_enumeration b
        WHERE
        a.TYPE_CODE = b.ENUM_ID
        AND b.ENUM_TYPE_ID = '12'
        ) AS TYPE_CODE_DSCR,
        b.CONTENT_DSCR as CONTENT_PID_NAME
        FROM
        inspection.inspection_content a
        LEFT JOIN inspection.inspection_content b on a.CONTENT_PID = b.id
        WHERE
        1 = 1
        <if test="params.id!=null and params.id != ''">
            AND a.id = #{params.id}
        </if>
        <if test="params.CONTENT_DSCR!=null and params.CONTENT_DSCR!='' ">
            AND a.CONTENT_DSCR like '%${params.CONTENT_DSCR}%'
        </if>
        <if test="params.parentId!=null and params.parentId!='' ">
            AND a.CONTENT_PID = #{params.parentId}
        </if>
        <if test="params.parentId == null or params.parentId == '' ">
            AND (a.CONTENT_PID = '' or a.CONTENT_PID is null)
        </if>
        <if test="params.TYPE_CODE!=null and params.TYPE_CODE!='' ">
            AND a.TYPE_CODE = #{params.TYPE_CODE}
        </if>
        <if test="params.STATE!=null and params.STATE!='' ">
            AND a.STATE = #{params.STATE}
        </if>
        <if test="params.ADD_USER!=null and params.ADD_USER!='' ">
            AND a.ADD_USER = #{params.ADD_USER}
        </if>
        ORDER BY a.SORT
    </select>

    <insert id="addContent" >
        INSERT INTO inspection.inspection_content
        VALUES
        (
        #{params.id},
        #{params.CONTENT_DSCR},
        #{params.CONTENT_PID},
        #{params.TYPE_CODE},
        '0',
        #{params.SORT},
        #{params.ADD_USER},
        #{params.ADD_TIME},
        '1'
        )
    </insert>

    <update id="editContent">
        UPDATE inspection.inspection_content SET
        <if test=" params.CONTENT_DSCR != null and params.CONTENT_DSCR != ''">
            CONTENT_DSCR = #{params.CONTENT_DSCR},
        </if>
        <if test=" params.CONTENT_PID != null and params.CONTENT_PID != ''">
            CONTENT_PID = #{params.CONTENT_PID},
        </if>
        <if test=" params.TYPE_CODE != null and params.TYPE_CODE != ''">
            TYPE_CODE = #{params.TYPE_CODE},
        </if>
        <if test=" params.STATE != null and params.STATE != ''">
            STATE = #{params.STATE},
        </if>
        <if test=" params.SORT != null and params.SORT != ''">
            SORT = #{params.SORT},
        </if>
        id = #{params.id}
        WHERE id = #{params.id}
    </update>

    <delete id="delContent">
        delete from inspection.inspection_content where id = #{params.id}
    </delete>

</mapper>