<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionProcMapper">

    <select id="getInspectionProcData" resultType="java.util.Map">
        SELECT
        *
        FROM
        inspection.inspection_process a
        WHERE
        1 = 1
        <if test="params.INSPECTION_PROCESS_ID!=null and params.INSPECTION_PROCESS_ID != ''">
            AND a.INSPECTION_PROCESS_ID = #{params.INSPECTION_PROCESS_ID}
        </if>
        <if test="params.INSPECTION_TASK_ID!=null and params.INSPECTION_TASK_ID!='' ">
            AND a.INSPECTION_TASK_ID = #{params.INSPECTION_TASK_ID}
        </if>
        <if test="params.INSPECTION_PROCESS_NAME!=null and params.INSPECTION_PROCESS_NAME!='' ">
            AND a.INSPECTION_PROCESS_NAME like '%${params.INSPECTION_PROCESS_NAME}%'
        </if>
        <if test="params.INSPECTION_PROCESS_SIGN!=null and params.INSPECTION_PROCESS_SIGN!='' ">
            AND a.INSPECTION_PROCESS_SIGN = #{params.INSPECTION_PROCESS_SIGN}
        </if>
        <if test="params.FINISH_TIME!=null and params.FINISH_TIME!='' ">
            AND a.FINISH_TIME = #{params.FINISH_TIME}
        </if>
        <if test="params.IS_ACTIVE!=null and params.IS_ACTIVE!='' ">
            AND a.IS_ACTIVE = #{params.IS_ACTIVE}
        </if>
        ORDER BY a.INSPECTION_PROCESS_ID
    </select>

    <insert id="addInspectionProc" >
        INSERT INTO inspection.inspection_process
        VALUES
        (
        #{params.ID},
        #{params.INSPECTION_PROCESS_ID},
        #{params.INSPECTION_TASK_ID},
        #{params.INSPECTION_PROCESS_NAME},
        #{params.INSPECTION_PROCESS_SIGN},
        #{params.FINISH_TIME},
        #{params.IS_ACTIVE}
        )
    </insert>

    <update id="editInspectionProc">
        UPDATE inspection.inspection_process SET
        <if test=" params.INSPECTION_PROCESS_SIGN != null and params.INSPECTION_PROCESS_SIGN != ''">
            INSPECTION_PROCESS_SIGN = #{params.INSPECTION_PROCESS_SIGN},
        </if>
        <if test=" params.FINISH_TIME != null and params.FINISH_TIME != ''">
            FINISH_TIME = #{params.FINISH_TIME},
        </if>
        <if test=" params.IS_ACTIVE != null and params.IS_ACTIVE != ''">
            IS_ACTIVE = #{params.IS_ACTIVE},
        </if>
        ID = #{params.ID}
        WHERE ID = #{params.ID}
    </update>

</mapper>