<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionIssueListMapper">
    <!-- author: Samer 问题清单 -->

    <!-- 获取当前任务组组员信息 -->
    <select id="getTaskGroupUserInfo" resultType="java.util.Map">
        SELECT
            CASE WHEN d.ENUM_ID = '1' THEN c.`NAME` END AS LEADER,
            CASE WHEN d.ENUM_ID = '2' THEN c.`NAME` END AS CHIEF,
            CONCAT(d.ENUM_DSCR,"：", c.`NAME`) AS DUTIES_NAME
        FROM
            `inspection`.`inspection_group` a
            JOIN
            inspection.`inspection_group_user` b
                ON a.`INSPECTION_GROUP_ID` = b.`INSPECTION_GROUP_ID`
            JOIN
            inspection.`cm_guoku_talentpool` c
                ON b.`INSPECTION_GROUP_USER` = c.`UUID`
            JOIN
            (
                SELECT
                    t.`ENUM_ID`,
                    t.`ENUM_DSCR`
                FROM
                    `enumset`.`cm_guoku_enumeration` t
                WHERE
                    t.`ENUM_TYPE_ID` = '7'
            ) d
                ON b.`INSPECTION_GROUP_DUTIES` = d.ENUM_ID
        WHERE
            a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
    </select>

    <!-- 根据ID更新问题清单责任人 -->
    <update id="updateIssueListById">
        UPDATE `inspection`.`inspection_task_issue_list` a
        SET
            a.DEPARTMENT_HEAD = #{params.DEPARTMENT_HEAD},
            a.AFTER_HEAD = #{params.AFTER_HEAD},
            a.PAPER_ATTACHMENT = #{params.PAPER_ATTACHMENT},
            a.PRINT_ATTACHMENT = #{params.PRINT_ATTACHMENT},
            a.MODIFY_DATE         = #{params.MODIFY_DATE}
        WHERE 1=1
        <if test=' params.ISSUE_ID != null and params.ISSUE_ID != "" '>
            AND a.`ISSUE_ID` = #{params.ISSUE_ID}
        </if>
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            AND a.`TASK_ID` = #{params.TASK_ID}
        </if>
    </update>

    <!-- 根据问题清单ID获取问题清单信息 -->
    <select id="getIssueListById" resultType="java.util.Map">
        SELECT *
        FROM
            `inspection`.`inspection_task_issue_list` a
        WHERE
            a.`ISSUE_ID` = #{params.ISSUE_ID}
    </select>

    <!-- 根据任务ID获取问题清单部门负责人 -->
    <select id="getDepartmentHeadByTaskId" resultType="java.util.Map">
        SELECT *
        FROM
            `inspection`.`inspection_task_issue_list` a
        WHERE
            a.`TASK_ID` = #{params.TASK_ID}
    </select>

    <!-- 根据当前任务ID获取台账问题清单一级二级 -->
    <select id="getIssueLedgerLvById" resultType="java.util.Map">
        SELECT
        a.QUESTION_ID_1,
        a.QUESTION_ID_2,
        b.QUESTION_DSCR AS QUESTION_DSCR_1,
        c.QUESTION_DSCR AS QUESTION_DSCR_2
        FROM
        inspection.`inspection_question_ledger` a
        JOIN `inspection`.`inspection_question_bank` b
        ON a.`QUESTION_ID_1` = b.QUESTION_ID
        JOIN `inspection`.`inspection_question_bank` c
        ON a.`QUESTION_ID_2` = c.QUESTION_ID
        JOIN `inspection`.`inspection_question_bank` cc
        ON a.`QUESTION_ID` = cc.QUESTION_ID
        WHERE
        <if test='params.logic == "notEq" '>
            cc.`QUESTION_DSCR` &lt;&gt; '其他'
        </if>
        <if test='params.logic == "Eq" '>
            cc.`QUESTION_DSCR` = '其他'
        </if>
        AND a.`TASK_ID` = #{params.TASK_ID}
        AND a.IS_LIST = '0'
        GROUP BY
        a.QUESTION_ID_1,
        a.QUESTION_ID_2
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 根据当前任务ID获取末级台账问题清单制度及整改方式信息 -->
    <select id="getIssueRuleOpinionById" resultType="java.util.Map">
        SELECT
        a.QUESTION_ID,
        a.QUESTION_CONTENT,
        d.QUESTION_OPINIONS,
        e.RULE_FILE_NAME,
        e.RULE_FILE_NO,
        e.RULE_FILE_CONTENT
        FROM
        inspection.`inspection_question_ledger` a
        JOIN `inspection`.`inspection_question_bank` d
        ON a.`QUESTION_ID` = d.QUESTION_ID
        JOIN `inspection`.`inspection_question_bank` cc
        ON a.`QUESTION_ID` = cc.QUESTION_ID
        LEFT JOIN
        (SELECT
        t1.RULE_FILE_NAME,
        t1.RULE_FILE_NO,
        t1.RULE_FILE_CONTENT,
        t2.`QUESTION_ID`
        FROM
        `inspection`.`inspection_question_rule` t1
        JOIN inspection.`inspection_question_rule_relation` t2
        ON t1.RULE_ID = t2.`RULE_ID`
        WHERE t1.RULE_STATE = '0') e
        ON a.`QUESTION_ID` = e.QUESTION_ID
        WHERE
        <if test='params.logic == "notEq" '>
            cc.`QUESTION_DSCR` &lt;&gt; '其他'
        </if>
        <if test='params.logic == "Eq" '>
            cc.`QUESTION_DSCR` = '其他'
        </if>
        AND a.`TASK_ID` = #{params.TASK_ID}
        AND a.IS_LIST = '0'
        AND a.QUESTION_ID_2 = #{params.QUESTION_ID_2}
        GROUP BY
        a.QUESTION_CONTENT
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 新增问题清单 -->
    <insert id="addIssueList">
        INSERT INTO `inspection`.`inspection_task_issue_list`
        VALUES (
            #{params.ISSUE_ID},
            #{params.TASK_ID},
            #{params.FILLING_DATE},
            #{params.DEPARTMENT_HEAD},
            #{params.AFTER_HEAD},
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_USERID},
            #{params.MODIFY_DATE},
            #{params.ATTACHMENT_NAME},
            #{params.PAPER_ATTACHMENT},
            #{params.PRINT_ATTACHMENT},
            #{params.NOT_OTHER_CONTENT},
            #{params.OTHER_CONTENT}
        )
    </insert>

    <!-- 新增国债业务实地检查记录表 -->
    <insert id="addDebtRecordIssue">
        INSERT INTO `inspection`.`inspection_debt_record_issue`
        VALUES
        <foreach collection="params.contentList" item="items" separator=",">
            (
            #{params.ISSUE_ID},
            #{items.SOURCE_DATE},
            #{items.QUESTION_CONTENT}
            )
        </foreach>
    </insert>

    <!-- 删除国债业务实地检查记录表 -->
    <insert id="delDebtRecordIssue">
        DELETE from `inspection`.`inspection_debt_record_issue`
        WHERE ISSUE_ID = #{params.ISSUE_ID}
    </insert>

    <!-- 获取国债业务实地检查记录表 -->
    <select id="getDebtRecordIssue" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        `inspection`.`inspection_debt_record_issue` a
        WHERE
        a.ISSUE_ID = #{params.ISSUE_ID}
    </select>

</mapper>