<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionNotificationPushMapper">
    <!-- author: Samer 检查任务通知推送 -->

    <!-- 获取国库名称（编码） -->
    <select id="getReceiveTreDscr" resultType="String">
        SELECT
            CONCAT(a.`guoku_dscr`, "(", a.`guoku_id`,")") AS  guoku_dscr
        FROM
            `dmcode`.`cm_guoku_dimnsn` a
        WHERE
            a.`guoku_id` = #{params.receiveOrgCode}
    </select>

    <!-- 新增发布信息 -->
    <insert id="addInfoPub">
        INSERT INTO info_active.info_pub_detail(
            INFO_ID,
            INFO_TITLE,
            INFO_TYPE_ID,
            INFO_TYPE,
            ADD_DATE,
            START_DATE,
            END_DATE,
            INFO_DETAIL,
            INFO_STATE,
            TODO_STATE,
            REL_ORG,
            REL_PEO,
            CLICK_RATE,
            DEPARTMENT
        )
        VALUES
        (
        #{params.INFO_ID},
        #{params.INFO_TITLE},
        #{params.INFO_TYPE_ID},
        #{params.INFO_TYPE},
        #{params.ADD_DATE},
        #{params.START_DATE},
        #{params.END_DATE},
        #{params.INFO_DETAIL},
        #{params.INFO_STATE},
        #{params.TODO_STATE},
        #{params.REL_ORG},
        #{params.REL_PEO},
        #{params.CLICK_RATE},
        #{params.DEPARTMENT}
        )
    </insert>

    <!-- 新增附件信息 -->
    <insert id="addInfoAtta">
        INSERT INTO info_active.info_atta_detail
        VALUES
        (
        #{params.ATTA_ID},
        #{params.S_INFO_ID},
        #{params.ADD_DATE},
        #{params.PATH},
        #{params.FILE_NAME}
        )
    </insert>

    <!-- 新增接受机构信息-->
    <insert id="addReceiveOrg">
        INSERT INTO info_active.info_receive_org
        VALUES
        (
        #{params.ORG_ID},
        #{params.ORG_DSCR},
        #{params.INFO_ID},
        #{params.ADD_DATE},
        #{params.TODO_STATE},
        #{params.DEPARTMENT}
        )
    </insert>


</mapper>