<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionQuestionLedgerMapper">
    <!-- author: Samer 检查任务-问题台账 -->

    <!-- 获取问题描述信息 -->
    <select id="getQuestionContentInfo" resultType="java.util.HashMap">
        SELECT
            '' AS SOURCE_DATE,
            a.`LEDGER_ID`,
            a.`QUESTION_ID`,
            a.QUESTION_CONTENT
        FROM
            inspection.`inspection_question_ledger` a
        WHERE
            a.`TASK_ID` = #{params.TASK_ID}
        GROUP BY a.QUESTION_CONTENT
        ORDER BY a.`ADD_DATE`
    </select>

    <!-- 根据当前任务ID获取台账问题清单一级-->
    <select id="getLedgerLv_1ById" resultType="java.util.Map">
        SELECT
        a.QUESTION_ID_1,
        a.QUESTION_DSCR_1
        FROM
        inspection.`inspection_question_ledger` a
        WHERE
        <if test='params.logic == "notEq" '>
            a.`QUESTION_DSCR` &lt;&gt; '其他关注事项'
        </if>
        <if test='params.logic == "Eq" '>
            a.`QUESTION_DSCR` = '其他关注事项'
        </if>
        AND a.`TASK_ID` = #{params.TASK_ID}
        <if test=' params.queryType == "workingPaper" '>
            AND a.ADD_USERID = #{params.ADD_USERID}
        </if>
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            AND a.IS_REPORT = #{params.IS_REPORT}
        </if>
        <if test=' params.IS_LIST != null and params.IS_LIST != "" '>
            AND a.IS_LIST = #{params.IS_LIST}
        </if>
        GROUP BY
        a.QUESTION_ID_1
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 根据当前任务ID获取台账问题清单二级-->
    <select id="getLedgerLv_2ById" resultType="java.util.Map">
        SELECT
        a.QUESTION_ID_2,
        a.QUESTION_DSCR_2
        FROM
        inspection.`inspection_question_ledger` a
        WHERE
        <if test='params.logic == "notEq" '>
            a.`QUESTION_DSCR` &lt;&gt; '其他关注事项'
        </if>
        <if test='params.logic == "Eq" '>
            a.`QUESTION_DSCR` = '其他关注事项'
        </if>
        AND a.`TASK_ID` = #{params.TASK_ID}
        <if test=' params.queryType == "workingPaper" '>
            AND a.ADD_USERID = #{params.ADD_USERID}
        </if>
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            AND a.IS_REPORT = #{params.IS_REPORT}
        </if>
        <if test=' params.IS_LIST != null and params.IS_LIST != "" '>
            AND a.IS_LIST = #{params.IS_LIST}
        </if>
        AND a.QUESTION_ID_1 = #{params.QUESTION_ID_1}
        GROUP BY
        a.QUESTION_ID_2
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 根据当前任务ID问题分类ID获取问题描述及整改方式信息 -->
    <select id="getQuestionLedgerById" resultType="java.util.Map">
        SELECT
        a.LEDGER_ID,
        a.QUESTION_ID,
        a.QUESTION_CONTENT,
        a.QUESTION_OPINIONS
        FROM
        inspection.`inspection_question_ledger` a
        WHERE
        <if test='params.logic == "notEq" '>
            a.`QUESTION_DSCR` &lt;&gt; '其他关注事项'
        </if>
        <if test='params.logic == "Eq" '>
            a.`QUESTION_DSCR` = '其他关注事项'
        </if>
        AND a.`TASK_ID` = #{params.TASK_ID}
        <if test=' params.queryType == "workingPaper" '>
            AND a.ADD_USERID = #{params.ADD_USERID}
        </if>
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            AND a.IS_REPORT = #{params.IS_REPORT}
        </if>
        <if test=' params.IS_LIST != null and params.IS_LIST != "" '>
            AND a.IS_LIST = #{params.IS_LIST}
        </if>
        <if test=' params.QUESTION_CONTENT != null and params.QUESTION_CONTENT != "" '>
            AND TRIM(a.QUESTION_CONTENT) = TRIM(#{params.QUESTION_CONTENT})
        </if>
        AND a.QUESTION_ID_2 = #{params.QUESTION_ID_2}
        GROUP BY
        a.LEDGER_ID, a.QUESTION_CONTENT
        ORDER BY
        a.ADD_DATE
    </select>

    <!-- 根据当前任务ID获取末级台账问题清单制度信息 -->
    <select id="getRuleById" resultType="java.util.Map">
        SELECT
            t1.RULE_FILE_NAME,
            t1.RULE_FILE_NO,
            t1.RULE_FILE_CONTENT,
            t1.`SORT`
        FROM
            `inspection`.`inspection_question_ledger_rule` t1
        WHERE t1.`LEDGER_ID` = #{params.LEDGER_ID}
        ORDER BY
            t1.`SORT`
    </select>

    <!-- 问题台账问题类型树形 -->
    <!-- a.APPROVAL_STATE = '0' -->
    <select id="getQuestionBankTreeForQuestionLedger" resultType="java.util.HashMap">
        SELECT
        a.QUESTION_ID AS id,
        a.QUESTION_DSCR AS name,
        IFNULL(a.QUESTION_PID,'') AS pid,
        GROUP_CONCAT(d.RULE_DSCR SEPARATOR '\n') AS concent,
        a.isleaf,
        a.PATH AS path,
        b.TYPE,
        a.SORT
        FROM
        inspection.inspection_question_bank a
        LEFT JOIN
        inspection.`inspection_question_bank_type` b
        ON a.QUESTION_ID = b.QUESTION_ID
        LEFT JOIN inspection.`inspection_question_rule_relation` c
        ON a.`QUESTION_ID` = c.`QUESTION_ID`
        LEFT JOIN
        (
        SELECT
        r.`RULE_ID`,
        CONCAT('《',r.`RULE_FILE_NAME`,'》（',r.`RULE_FILE_NO`, '）',r.`RULE_FILE_CONTENT`) AS RULE_DSCR
        FROM
        inspection.`inspection_question_rule` r
        ) d
        ON c.`RULE_ID`= d.`RULE_ID`
        WHERE
        1=1
        AND a.PATH IS NOT NULL AND a.PATH &lt;&gt;''
        <if test=" params.QUESTION_ID != null and params.QUESTION_ID != '' ">
            AND a.QUESTION_ID = #{params.QUESTION_ID}
        </if>
        <if test=" params.QUESTION_DSCR != null and params.QUESTION_DSCR != '' ">
            AND a.QUESTION_DSCR = #{params.QUESTION_DSCR}
        </if>
        <if test=" params.QUESTION_PID != null and params.QUESTION_PID != '' ">
            AND a.QUESTION_PID = #{params.QUESTION_PID}
        </if>
        <if test="params.QUESTION_TYPE!=null and params.QUESTION_TYPE!='' ">
            AND (CASE WHEN a.`isleaf` = 0 THEN b.TYPE = #{params.QUESTION_TYPE} ELSE TRUE END)
        </if>
        GROUP BY a.QUESTION_ID
        ORDER BY a.SORT
    </select>

    <!-- 根据任务ID获取检查分类 -->
    <select id="getQuestionTypeByTaskId" resultType="String">
        SELECT a.INSPECTION_TASK_TYPE
        FROM
            `inspection`.`inspection_task` a
        WHERE
            a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
    </select>

    <!-- 根据用户ID任务ID获取问题台账 -->
    <select id="getQuestionLedgerByUserIdTaskID" resultType="java.util.Map">
        SELECT
        a.LEDGER_ID,
        a.`QUESTION_ID_1`,
        a.QUESTION_DSCR_1,
        a.`QUESTION_ID_2`,
        a.QUESTION_DSCR_2,
        a.`QUESTION_ID`,
        a.QUESTION_DSCR,
        a.ADD_USERID,
        e.`REALNAME` AS NAME,
        a.QUESTION_OPINIONS_ID,
        a.QUESTION_OPINIONS,
        a.PATH AS path,
        a.QUESTION_CONTENT,
        a.ERROR_TYPE,
        GROUP_CONCAT(d.RULE_DSCR SEPARATOR '\n') AS concent,
        a.`IS_LIST`,
        CASE
        WHEN a.`IS_LIST` = '0'
        THEN '是'
        WHEN a.`IS_LIST` = '1'
        THEN '否'
        END AS IS_LIST_DSCR,
        a.`IS_REPORT`,
        CASE
        WHEN a.`IS_REPORT` = '0'
        THEN '是'
        WHEN a.`IS_REPORT` = '1'
        THEN '否'
        END AS IS_REPORT_DSCR,
        CONCAT(a.QUESTION_CONTENT,a.`IS_LIST`,a.`IS_REPORT`,a.QUESTION_OPINIONS, a.ADD_USERID) AS IS_MERGE
        FROM
        inspection.`inspection_question_ledger` a
        JOIN `jeecg-boot-os`.`sys_user` e
        ON a.`ADD_USERID` = e.ID
        LEFT JOIN
        (
        SELECT
        r.`LEDGER_ID`,
        CONCAT('《',r.`RULE_FILE_NAME`,'》（',r.`RULE_FILE_NO`, '）',r.`RULE_FILE_CONTENT`) AS RULE_DSCR
        FROM
        inspection.`inspection_question_ledger_rule` r
        ) d
        ON a.`LEDGER_ID`= d.`LEDGER_ID`

        WHERE
        1 = 1
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            AND a.TASK_ID =#{params.TASK_ID}
        </if>
        <if test=' params.ADD_USERID != null and params.ADD_USERID != "" '>
            AND a.ADD_USERID =#{params.ADD_USERID}
        </if>
        GROUP BY a.LEDGER_ID,a.QUESTION_CONTENT
        ORDER BY
        <if test='params.QUERY_TYPE == "1"'>
            a.`QUESTION_ID_1`,
            a.`QUESTION_ID_2`,
        </if>
        a.QUESTION_CONTENT,
        a.ADD_USERID,
        a.ADD_DATE DESC
    </select>

    <!-- 根据检查任务ID获取该台账添加人 -->
    <select id="getLedgerAddUserByTaskId" resultType="java.util.Map">
        SELECT
            a.`ADD_USERID` AS ADD_USERID,
            e.`REALNAME`   AS NAME
        FROM
            inspection.`inspection_question_ledger` a
            JOIN `jeecg-boot-os`.`sys_user` e
                ON a.`ADD_USERID` = e.ID
        WHERE
            a.`TASK_ID` = #{params.TASK_ID}
        GROUP BY a.`ADD_USERID`
    </select>

    <!-- 根据台账ID获取台账信息 -->
    <select id="getQuestionLedgerByLedgerID" resultType="java.util.Map">
        SELECT *
        FROM
            `inspection`.`inspection_question_ledger`
        WHERE
            LEDGER_ID = #{params.LEDGER_ID}
    </select>

    <!-- 问题台账新增 -->
    <insert id="addQuestionLedger">
        INSERT INTO
            `inspection`.`inspection_question_ledger`
        VALUES (
            #{params.LEDGER_ID},
            #{params.TASK_ID},
            #{params.QUESTION_ID_1},
            #{params.QUESTION_DSCR_1},
            #{params.QUESTION_ID_2},
            #{params.QUESTION_DSCR_2},
            #{params.QUESTION_ID_3},
            #{params.QUESTION_DSCR_3},
            #{params.QUESTION_ID},
            #{params.QUESTION_DSCR},
            #{params.QUESTION_OPINIONS_ID},
            #{params.QUESTION_OPINIONS},
            #{params.PATH},
            #{params.IS_LIST},
            #{params.IS_REPORT},
            #{params.IS_DEL},
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_DATE},
            #{params.QUESTION_CONTENT},
            #{params.ERROR_TYPE}
        )
    </insert>

    <!--  根据问题台账ID编辑 -->
    <update id="editQuestionLedgerByLedgerID">
        UPDATE
        `inspection`.`inspection_question_ledger`
        SET
        <if test=' params.QUESTION_ID_1 != null and params.QUESTION_ID_1 != "" '>
            QUESTION_ID_1 = #{params.QUESTION_ID_1},
        </if>
        <if test=' params.QUESTION_DSCR_1 != null and params.QUESTION_DSCR_1 != "" '>
            QUESTION_DSCR_1 = #{params.QUESTION_DSCR_1},
        </if>
        <if test=' params.QUESTION_ID_2 != null and params.QUESTION_ID_2 != "" '>
            QUESTION_ID_2 = #{params.QUESTION_ID_2},
        </if>
        <if test=' params.QUESTION_DSCR_2 != null and params.QUESTION_DSCR_2 != "" '>
            QUESTION_DSCR_2 = #{params.QUESTION_DSCR_2},
        </if>
        <if test=' params.QUESTION_ID_3 != null and params.QUESTION_ID_3 != "" '>
            QUESTION_ID_3 = #{params.QUESTION_ID_3},
        </if>
        <if test=' params.QUESTION_DSCR_3 != null and params.QUESTION_DSCR_3 != "" '>
            QUESTION_DSCR_3 = #{params.QUESTION_DSCR_3},
        </if>
        <if test=' params.QUESTION_ID != null and params.QUESTION_ID != "" '>
            QUESTION_ID = #{params.QUESTION_ID},
        </if>
        <if test=' params.QUESTION_DSCR != null and params.QUESTION_DSCR != "" '>
            QUESTION_DSCR = #{params.QUESTION_DSCR},
        </if>
        <if test=' params.QUESTION_OPINIONS_ID != null and params.QUESTION_OPINIONS_ID != "" '>
            QUESTION_OPINIONS_ID = #{params.QUESTION_OPINIONS_ID},
        </if>
        <if test=' params.QUESTION_OPINIONS != null and params.QUESTION_OPINIONS != "" '>
            QUESTION_OPINIONS = #{params.QUESTION_OPINIONS},
        </if>
        <if test=' params.PATH != null and params.PATH != "" '>
            PATH = #{params.PATH},
        </if>
        <if test=' params.IS_LIST != null and params.IS_LIST != "" '>
            IS_LIST = #{params.IS_LIST},
        </if>
        <if test=' params.IS_REPORT != null and params.IS_REPORT != "" '>
            IS_REPORT = #{params.IS_REPORT},
        </if>
        <if test=' params.MODIFY_DATE != null and params.MODIFY_DATE != "" '>
            MODIFY_DATE = #{params.MODIFY_DATE},
        </if>
        <if test=' params.QUESTION_CONTENT != null and params.QUESTION_CONTENT != "" '>
            QUESTION_CONTENT = #{params.QUESTION_CONTENT},
        </if>
        <if test=' params.ERROR_TYPE != null and params.ERROR_TYPE != "" '>
            ERROR_TYPE = #{params.ERROR_TYPE},
        </if>
        LEDGER_ID = #{params.LEDGER_ID}
        WHERE
        LEDGER_ID = #{params.LEDGER_ID}
    </update>

    <!-- 根据台账ID删除 -->
    <delete id="delQuestionLedgerByLedgerId">
        DELETE FROM `inspection`.`inspection_question_ledger`
        WHERE LEDGER_ID = #{params.LEDGER_ID}
    </delete>

    <!-- 新增问题台账制度依据 -->
    <insert id="addQuestionLedgerRule">
        INSERT INTO
            `inspection`.`inspection_question_ledger_rule`
        VALUES (
            #{params.LEDGER_ID},
            #{params.RULE_FILE_NO},
            #{params.RULE_FILE_NAME},
            #{params.RULE_FILE_CONTENT},
            #{params.SORT}
        )
    </insert>


    <!--  编辑问题台账制度依据 -->
    <update id="editQuestionLedgerRule">
        UPDATE
            `inspection`.`inspection_question_ledger_rule`
        SET
            RULE_FILE_NO      = #{params.RULE_FILE_NO},
            RULE_FILE_NAME    = #{params.RULE_FILE_NAME},
            RULE_FILE_CONTENT = #{params.RULE_FILE_CONTENT},
            SORT              = #{params.SORT}
        WHERE
            LEDGER_ID = #{params.LEDGER_ID}
    </update>

    <!-- 删除问题台账制度依据 -->
    <delete id="delQuestionLedgerRule">
        DELETE FROM `inspection`.`inspection_question_ledger_rule`
        WHERE LEDGER_ID = #{params.LEDGER_ID}
    </delete>

    <!-- 获取整改意见 -->
    <select id="getQuestionOpinionById" resultType="java.util.HashMap">
        SELECT *
        FROM
            `inspection`.`inspection_question_bank` a
        WHERE
            a.`QUESTION_ID` = #{params.QUESTION_ID}
    </select>

</mapper>