<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionCashBondMapper">
    <!-- 根据任务ID或者数据核查ID获取信息 -->
    <select id="getCashBondById" resultType="java.util.Map">
        SELECT *
        FROM
        `inspection`.inspection_cash_bond  a
        WHERE 1=1
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            AND a.`TASK_ID` = #{params.TASK_ID}
        </if>
        <if test=' params.SHEET_ID != null and params.SHEET_ID != "" '>
            AND a.`SHEET_ID` = #{params.SHEET_ID}
        </if>
    </select>


    <!-- 根据ID更新数据核查 -->
    <update id="updateCashBondById">
        UPDATE `inspection`.inspection_cash_bond a
        SET
        SHEET_ID=#{params.SHEET_ID}
        ,TASK_TYPE_DSCR=#{params.TASK_TYPE_DSCR}
        ,TASK_ID=#{params.TASK_ID}
        ,FILLING_DATE=#{params.FILLING_DATE}
        ,OUTSIDE_SUBJECT=#{params.OUTSIDE_SUBJECT}
        ,BALANCE_ALL=#{params.BALANCE_ALL}
        ,BALANCE=#{params.BALANCE}
        ,REASON=#{params.REASON}
        ,OPERATOR_GUOKU=#{params.OPERATOR_GUOKU}
        ,OPERATOR=#{params.OPERATOR}
        ,LARDER=#{params.LARDER}
        ,RUMMAGER=#{params.RUMMAGER}
        ,ATTACHMENT_NAME=#{params.ATTACHMENT_NAME}
        ,PAPER_ATTACHMENT=#{params.PAPER_ATTACHMENT}
        ,PRINT_ATTACHMENT=#{params.PRINT_ATTACHMENT}
        ,INSPECTED=#{params.INSPECTED}
        ,ADD_USERID=#{params.ADD_USERID}
        ,ADD_DATE=#{params.ADD_DATE}
        ,MODIFY_USERID=#{params.MODIFY_USERID}
        ,MODIFY_DATE=#{params.MODIFY_DATE}
        WHERE 1=1
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            AND a.`TASK_ID` = #{params.TASK_ID}
        </if>
        <if test=' params.SHEET_ID != null and params.SHEET_ID != "" '>
            AND a.`SHEET_ID` = #{params.SHEET_ID}
        </if>
    </update>

    <!-- 新增数据核查 -->
    <insert id="addInspectionCashBond">
        INSERT INTO `inspection`.inspection_cash_bond
        VALUES (
            #{params.SHEET_ID}
            ,#{params.TASK_TYPE_DSCR}
            ,#{params.TASK_ID}
            ,#{params.FILLING_DATE}
            ,#{params.OUTSIDE_SUBJECT}
            ,#{params.BALANCE_ALL}
            ,#{params.BALANCE}
            ,#{params.REASON}
            ,#{params.OPERATOR_GUOKU}
            ,#{params.OPERATOR}
            ,#{params.LARDER}
            ,#{params.RUMMAGER}
            ,#{params.ATTACHMENT_NAME}
            ,#{params.PAPER_ATTACHMENT}
            ,#{params.PRINT_ATTACHMENT}
            ,#{params.INSPECTED}
            ,#{params.ADD_USERID}
            ,#{params.ADD_DATE}
            ,#{params.MODIFY_USERID}
            ,#{params.MODIFY_DATE}
        )
    </insert>
    <select id="getInspectionCheck" resultType="map">
        SELECT a.* ,c.name AS NAME,
        CONCAT(d.`guoku_dscr`,'已兑付国家债券现场检查账实核对表') AS SHEET_NAME,
        d.`guoku_dscr`    as INSPECTED_DSCR
        FROM    `inspection`.`inspection_cash_bond` a
        LEFT JOIN
        dmcode.`cm_guoku_dimnsn` d
        ON a.INSPECTED=d.`guoku_id`
        LEFT JOIN inspection.inspection_sysuser_talentpool_relation b ON b.SYS_USERID = a.ADD_USERID
        LEFT JOIN inspection.cm_guoku_talentpool c ON b.TALENTPOOL_ID = c.UUID
        where 1=1
        <if test="params.TASK_ID!=null and params.TASK_ID != ''">
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
        order by ADD_DATE,a.MODIFY_DATE  desc
    </select>

    <delete id="delInspectionCashBond" >
        delete from `inspection`.`inspection_cash_bond` where 1=1
        <if test="params.TASK_ID!=null and params.TASK_ID != ''">
            AND TASK_ID = #{params.TASK_ID}
        </if>
        <if test="params.INSPECTED!=null and params.INSPECTED != ''">
            AND INSPECTED = #{params.INSPECTED}
        </if>
    </delete>
    <select id="checkRepeat"  resultType="map"  >
              SELECT * FROM    `inspection`.`inspection_data_check` a
               WHERE 1=1
                <if test="params.TASK_ID!=null and params.TASK_ID != ''">
                    AND TASK_ID = #{params.TASK_ID}
                </if>
                <if test="params.INSPECTED!=null and params.INSPECTED != ''">
                    AND INSPECTED = #{params.INSPECTED}
                </if>
    </select>

</mapper>