<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionNoticeMapper">

    <select id="getInspectionNoticeData" resultType="java.util.Map">
        SELECT
        *
        FROM
        inspection.inspection_notice a
        WHERE
        1 = 1
        <if test="params.ID!=null and params.ID != ''">
            AND a.ID = #{params.ID}
        </if>
        <if test="params.TASK_ID!=null and params.TASK_ID!='' ">
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
    </select>

    <insert id="addInspectionNotice" >
        INSERT INTO inspection.inspection_notice
        VALUES
        (
        #{params.ID},
        #{params.TASK_ID},
        #{params.TASK_TYPE},
        #{params.COMPANY},
        #{params.NOTICE_YEAR},
        #{params.NOTICE_ID},
        #{params.INSPECTED_GUOKU},
        #{params.BASIS},
        #{params.INSPECTION_TASK_BEGINTIME},
        #{params.INSPECTION_TASK_ENDTIME},
        #{params.TERM},
        #{params.ITEM},
        #{params.INSPECT_ITEMS},
        #{params.LARDER},
        #{params.LPOST},
        #{params.CHIEF},
        #{params.CPOST},
        #{params.MEMBER},
        #{params.NOTICE_DATE},
        #{params.FILE_PATH},
        #{params.FILE_NAME},
        #{params.TYPE},
        #{params.TITLE}
        )
    </insert>

    <update id="editInspectionNotice">
        UPDATE inspection.inspection_notice SET
        <if test=" params.TASK_ID != null and params.TASK_ID != ''">
            TASK_ID = #{params.TASK_ID},
        </if>
        <if test=" params.TASK_TYPE != null and params.TASK_TYPE != ''">
            TASK_TYPE = #{params.TASK_TYPE},
        </if>
        <if test=" params.COMPANY != null and params.COMPANY != ''">
            COMPANY = #{params.COMPANY},
        </if>
        <if test=" params.NOTICE_YEAR != null and params.NOTICE_YEAR != ''">
            NOTICE_YEAR = #{params.NOTICE_YEAR},
        </if>
        <if test=" params.NOTICE_ID != null and params.NOTICE_ID != ''">
            NOTICE_ID = #{params.NOTICE_ID},
        </if>
        <if test=" params.INSPECTED_GUOKU != null and params.INSPECTED_GUOKU != ''">
            INSPECTED_GUOKU = #{params.INSPECTED_GUOKU},
        </if>
        <if test=" params.BASIS != null and params.BASIS != ''">
            BASIS = #{params.BASIS},
        </if>
        <if test=" params.INSPECTION_TASK_BEGINTIME != null and params.INSPECTION_TASK_BEGINTIME != ''">
            INSPECTION_TASK_BEGINTIME = #{params.INSPECTION_TASK_BEGINTIME},
        </if>
        <if test=" params.INSPECTION_TASK_ENDTIME != null and params.INSPECTION_TASK_ENDTIME != ''">
            INSPECTION_TASK_ENDTIME = #{params.INSPECTION_TASK_ENDTIME},
        </if>
        <if test=" params.TERM != null and params.TERM != ''">
            TERM = #{params.TERM},
        </if>
        <if test=" params.ITEM != null and params.ITEM != ''">
            ITEM = #{params.ITEM},
        </if>
        <if test=" params.INSPECT_ITEMS != null and params.INSPECT_ITEMS != ''">
            INSPECT_ITEMS = #{params.INSPECT_ITEMS},
        </if>
        <if test=" params.LARDER != null and params.LARDER != ''">
            LARDER = #{params.LARDER},
        </if>
        <if test=" params.LPOST != null and params.LPOST != ''">
            LPOST = #{params.LPOST},
        </if>
        <if test=" params.CHIEF != null and params.CHIEF != ''">
            CHIEF = #{params.CHIEF},
        </if>
        <if test=" params.CPOST != null and params.CPOST != ''">
            CPOST = #{params.CPOST},
        </if>
        <if test=" params.MEMBER != null and params.MEMBER != ''">
            MEMBER = #{params.MEMBER},
        </if>
        <if test=" params.NOTICE_DATE != null and params.NOTICE_DATE != ''">
            NOTICE_DATE = #{params.NOTICE_DATE},
        </if>
        <if test=" params.FILE_PATH != null and params.FILE_PATH != ''">
            FILE_PATH = #{params.FILE_PATH},
        </if>
        <if test=" params.FILE_NAME != null and params.FILE_NAME != ''">
            FILE_NAME = #{params.FILE_NAME},
        </if>
        ID = #{params.ID}
        WHERE ID = #{params.ID}
    </update>

    <update id="editNoticeUser">
        UPDATE inspection.inspection_notice SET
        <if test=" params.LARDER != null and params.LARDER != ''">
            LARDER = #{params.LARDER},
        </if>
        <if test=" params.LPOST != null and params.LPOST != ''">
            LPOST = #{params.LPOST},
        </if>
        <if test=" params.CHIEF != null and params.CHIEF != ''">
            CHIEF = #{params.CHIEF},
        </if>
        <if test=" params.CPOST != null and params.CPOST != ''">
            CPOST = #{params.CPOST},
        </if>
        <if test=" params.MEMBER != null and params.MEMBER != ''">
            MEMBER = #{params.MEMBER},
        </if>
        <if test=" params.FILE_PATH != null and params.FILE_PATH != ''">
            FILE_PATH = #{params.FILE_PATH},
        </if>
        <if test=" params.FILE_NAME != null and params.FILE_NAME != ''">
            FILE_NAME = #{params.FILE_NAME},
        </if>
        TASK_ID = #{params.TASK_ID}
        WHERE TASK_ID = #{params.TASK_ID}
    </update>

    <delete id="delInspectionNotice" >
        DELETE
        FROM
        inspection.inspection_notice
        WHERE 1 = 1
        <if test="params.ID!=null and params.ID != ''">
            AND ID = #{params.ID}
        </if>
        <if test="params.TASK_ID!=null and params.TASK_ID != ''">
            AND TASK_ID = #{params.TASK_ID}
        </if>
    </delete>

</mapper>