<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionApprovalMapper">

    <select id="getInspectionApprovalPage" resultType="java.util.HashMap">
        SELECT
            a.*, c.guoku_dscr,
            e.`NAME` AS add_user_dscr,
            g.`NAME` AS app_user_dscr,
            h.role_name
        FROM
            inspection.inspection_approval a
        JOIN ${params.tablename} b on a.subject_id = ${params.tableid}
        JOIN dmcode.cm_guoku_dimnsn c ON a.app_org = c.guoku_id
        JOIN inspection.inspection_sysuser_talentpool_relation d ON a.add_user = d.SYS_USERID
        JOIN inspection.cm_guoku_talentpool e ON d.TALENTPOOL_ID = e.UUID
        LEFT JOIN inspection.inspection_sysuser_talentpool_relation f ON a.app_user = f.SYS_USERID
        LEFT JOIN inspection.cm_guoku_talentpool g ON f.TALENTPOOL_ID = g.UUID
        JOIN `jeecg-boot-os`.sys_role h ON a.app_role = h.id
        WHERE 1=1
        <if test="params.subject_id!=null and params.subject_id != ''">
            AND a.subject_id = #{params.subject_id}
        </if>
        <if test="params.ID!=null and params.ID != ''">
            AND ${params.condition} = #{params.ID}
        </if>
        <if test="params.app_role!=null and params.app_role != ''">
            AND a.app_role = #{params.app_role}
        </if>
        <if test="params.app_org!=null and params.app_org != ''">
            AND a.app_org = #{params.app_org}
        </if>
        <if test="params.app_result!=null and params.app_result != ''">
            AND a.app_result = #{params.app_result}
        </if>
        <if test="params.add_user!=null and params.add_user != ''">
            AND a.add_user = #{params.add_user}
        </if>
        order by app_time desc
        LIMIT ${params.page},${params.rows}
    </select>

    <select id="getInspectionApprovalData" resultType="java.util.Map">
        SELECT
        a.*, c.guoku_dscr,
        e.`NAME` AS add_user_dscr,
        g.`NAME` AS app_user_dscr,
        h.role_name
        FROM
        inspection.inspection_approval a
        JOIN ${params.tablename} b on a.subject_id = ${params.tableid}
        JOIN dmcode.cm_guoku_dimnsn c ON a.app_org = c.guoku_id
        JOIN inspection.inspection_sysuser_talentpool_relation d ON a.add_user = d.SYS_USERID
        JOIN inspection.cm_guoku_talentpool e ON d.TALENTPOOL_ID = e.UUID
        LEFT JOIN inspection.inspection_sysuser_talentpool_relation f ON a.app_user = f.SYS_USERID
        LEFT JOIN inspection.cm_guoku_talentpool g ON f.TALENTPOOL_ID = g.UUID
        JOIN `jeecg-boot-os`.sys_role h ON a.app_role = h.id
        WHERE 1=1
        <if test="params.subject_id!=null and params.subject_id != ''">
            AND a.subject_id = #{params.subject_id}
        </if>
        <if test="params.ID!=null and params.ID != ''">
            AND ${params.condition} = #{params.ID}
        </if>
        <if test="params.app_role!=null and params.app_role != ''">
            AND a.app_role = #{params.app_role}
        </if>
        <if test="params.app_org!=null and params.app_org != ''">
            AND a.app_org = #{params.app_org}
        </if>
        <if test="params.app_result!=null and params.app_result != ''">
            AND a.app_result = #{params.app_result}
        </if>
        <if test="params.add_user!=null and params.add_user != ''">
            AND a.add_user = #{params.add_user}
        </if>
        order by app_time desc
    </select>

    <select id="getInspectionApprovalCount" resultType="java.lang.Integer">
        SELECT
        count(1)
        FROM
        inspection.inspection_approval a
        JOIN ${params.tablename} b on a.subject_id = ${params.tableid}
        JOIN dmcode.cm_guoku_dimnsn c ON a.app_org = c.guoku_id
        JOIN inspection.inspection_sysuser_talentpool_relation d ON a.add_user = d.SYS_USERID
        JOIN inspection.cm_guoku_talentpool e ON d.TALENTPOOL_ID = e.UUID
        LEFT JOIN inspection.inspection_sysuser_talentpool_relation f ON a.app_user = f.SYS_USERID
        LEFT JOIN inspection.cm_guoku_talentpool g ON f.TALENTPOOL_ID = g.UUID
        JOIN `jeecg-boot-os`.sys_role h ON a.app_role = h.id
        WHERE 1=1
        <if test="params.subject_id!=null and params.subject_id != ''">
            AND a.subject_id = #{params.subject_id}
        </if>
        <if test="params.ID!=null and params.ID != ''">
            AND ${params.condition} = #{params.ID}
        </if>
        <if test="params.app_role!=null and params.app_role != ''">
            AND a.app_role = #{params.app_role}
        </if>
        <if test="params.app_org!=null and params.app_org != ''">
            AND a.app_org = #{params.app_org}
        </if>
        <if test="params.app_result!=null and params.app_result != ''">
            AND a.app_result = #{params.app_result}
        </if>
        <if test="params.add_user!=null and params.add_user != ''">
            AND a.add_user = #{params.add_user}
        </if>
    </select>

    <insert id="addInspectionApproval" >
        INSERT INTO inspection.inspection_approval
        VALUES
        (
        #{params.id},
        #{params.auth_id},
        #{params.subject_id},
        #{params.add_user},
        #{params.add_time},
        #{params.app_user},
        #{params.app_role},
        #{params.app_time},
        '2',
        #{params.app_opinion},
        #{params.app_org},
        #{params.app_step},
        #{params.type}
        )
    </insert>

    <update id="editInspectionApproval">
        UPDATE inspection.inspection_approval SET
        <if test=" params.app_user != null and params.app_user != ''">
            app_user = #{params.app_user},
        </if>
        <if test=" params.app_time != null and params.app_time != ''">
            app_time = #{params.app_time},
        </if>
        <if test=" params.app_result != null and params.app_result != ''">
            app_result = #{params.app_result},
        </if>
        <if test=" params.app_opinion != null and params.app_opinion != ''">
            app_opinion = #{params.app_opinion},
        </if>
        <if test=" params.app_org != null and params.app_org != ''">
            app_org = #{params.app_org},
        </if>
        id = #{params.id}
        WHERE id = #{params.id}
    </update>

    <delete id="delInspectionApproval" >
        DELETE
        FROM
        inspection.inspection_approval
        WHERE 1 = 1
        <if test="params.id!=null and params.id != ''">
            AND id = #{params.id}
        </if>
    </delete>
    <select id="getAppravalProcess" resultType="java.util.HashMap">
           SELECT * FROM `inspection`.inspecton_approval_process a
           where 1=1
            <if test="params.type!=null and params.type != ''">
              and   type=#{params.type}
           </if>
            <if test="params.step!=null and params.step != ''">
               and  step =cast('${params.step}'  AS SIGNED )+1
            </if>
            order by cast(step as SIGNED)
    </select>
    <update id="updateApproval">
        update ${params.tablename}  set  APPROVAL_STATE = ${params.app_result}
        where   ${params.tableid}= '${params.subject_id}'
    </update>
</mapper>