<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionProcessControlMapper">
    <!-- author: Samer 检查流程控制 -->

    <!-- 检查报告及相关子流程结束 -->
    <update id="finishReportProcessById">
        UPDATE `inspection`.`inspection_process_sub` a
        SET a.`INSPECTION_PROCESS_SUB_SIGN` = '0',
        a.FINISH_TIME                   = #{params.FINISH_TIME}
        WHERE
        a.INSPECTION_PROCESS_SUB_ID LIKE '___03%'
        AND a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
    </update>
    
    <!-- 标记当前主流程完成 -->
    <update id="finishCurProcessById">
        UPDATE `inspection`.`inspection_process` a
        SET
            a.`INSPECTION_PROCESS_SIGN` = '0',
            a.`IS_ACTIVE` = '1',
            a.FINISH_TIME               = #{params.FINISH_TIME}
        WHERE
            a.INSPECTION_PROCESS_ID = #{params.PROC_ID}
            AND a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            AND a.INSPECTION_PROCESS_SIGN = '1'
    </update>

    <!-- 查询当前工作底稿完成状态 -->
    <select id="getWorkingPapersState" resultType="int">
        SELECT
            ct1.CUNT_A = ct2.CUNT_B AS PAPER_STATE
        FROM
            (SELECT
                 COUNT(DISTINCT a.`ADD_USERID`) AS CUNT_A
             FROM
                 `inspection`.`inspection_working_paper` a
             WHERE a.`TASK_ID` = #{params.TASK_ID}
                   AND a.`ADD_USERID` IN
                       (SELECT
                            a.`ADD_USERID`
                        FROM
                            `inspection`.`inspection_question_ledger` a
                        WHERE a.`TASK_ID` = #{params.TASK_ID}
                        GROUP BY a.`ADD_USERID`)) ct1,
            (SELECT
                 COUNT(DISTINCT a.`ADD_USERID`) AS CUNT_B
             FROM
                 `inspection`.`inspection_question_ledger` a
             WHERE a.`TASK_ID` = #{params.TASK_ID}) ct2
    </select>

    <!-- 获取当前模块流程描述 -->
    <select id="getProcDescById" resultType="String">
        SELECT
            a.TEMP_PROC_NAME
        FROM
            `inspection`.`inspection_task_template` a
        WHERE
            a.TEMP_PROC_ID = #{params.PROC_ID}
    </select>

    <!-- 获取当前流程下所有子流程综合状态结果为0时表示全都已经完成 -->
    <select id="getProStateAllById" resultType="int">
        SELECT SUM(a.`INSPECTION_PROCESS_SUB_SIGN`) AS SUB_PROC_STATE
        FROM
            `inspection`.`inspection_process_sub` a
        WHERE
            a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            AND a.`INSPECTION_PROCESS_SUB_ID` LIKE CONCAT(SUBSTR(#{params.PROC_ID}, 1, 5), '%')
    </select>

    <!-- 标记当前子流程完成 -->
    <update id="finishCurSubProcessById">
        UPDATE `inspection`.`inspection_process_sub` a
        SET a.`INSPECTION_PROCESS_SUB_SIGN` = '0',
            a.FINISH_TIME                   = #{params.FINISH_TIME}
        WHERE
            a.INSPECTION_PROCESS_SUB_ID = #{params.PROC_SUB_ID}
            AND a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
    </update>

    <!-- 标记事后检查当前子流程完成 -->
    <update id="finishPostSVCurSubProcessById">
        UPDATE `inspection`.`inspection_process_sub_postsv` a
        SET a.`INSPECTION_PROCESS_SUB_SIGN` = '0',
        a.FINISH_TIME                   = #{params.FINISH_TIME}
        WHERE
        a.INSPECTION_PROCESS_SUB_ID = #{params.PROC_SUB_ID}
        AND a.INSPECTION_PROCESS_SUB_SIGN = '1'
        AND a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
    </update>

    <!-- 激活当前流程后续流程主表 -->
    <update id="activateFollowProcess">
        UPDATE `inspection`.`inspection_process` a
        SET a.`IS_ACTIVE` = '0'
        WHERE
            a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            AND a.INSPECTION_PROCESS_SIGN = '1'
            AND a.`INSPECTION_PROCESS_ID` LIKE
                (
                    SELECT CONCAT(SUBSTR(a.`FOLLOW`, 1, 5), '%')
                    FROM
                        `inspection`.`inspection_task_template` a
                    WHERE
                        a.`TEMP_PROC_ID` = #{params.PROC_ID}
                )
    </update>

    <!-- 激活当前流程后主流程中的子流程 -->
    <update id="activateCurFollowProcessSub">
        UPDATE `inspection`.`inspection_process_sub` a
        SET a.`IS_ACTIVE` = '0'
        WHERE
            a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            AND a.INSPECTION_PROCESS_SUB_SIGN = '1'
            AND a.INSPECTION_PROCESS_SUB_ID LIKE
                (
                    SELECT CONCAT(a.`FOLLOW`, '%')
                    FROM
                        `inspection`.`inspection_task_template` a
                    WHERE
                        a.`TEMP_PROC_ID` = #{params.PROC_ID}
                )
    </update>

    <!-- 激活当前流程后续流程子表 -->
    <update id="activateFollowProcessSub">
        UPDATE `inspection`.`inspection_process_sub` a
        SET a.`IS_ACTIVE` = '0'
        WHERE
            a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
            AND a.INSPECTION_PROCESS_SUB_ID LIKE CONCAT(SUBSTR(#{params.PROC_SUB_ID}, 1, 5), '%')
    </update>

    <!-- 事后监督激活当前流程后续流程子表 -->
    <update id="activatePostSvFollowProcessSub">
        UPDATE `inspection`.`inspection_process_sub_postsv` a
        SET a.`IS_ACTIVE` = '0'
        WHERE
        a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
        AND a.INSPECTION_PROCESS_SUB_SIGN = '1'
        AND a.INSPECTION_PROCESS_SUB_ID LIKE CONCAT(SUBSTR(#{params.PROC_SUB_ID}, 1, 5), '%')
    </update>


    <!-- 激活指定子流程 -->
    <update id="activateSpecifyProcessSub">
        UPDATE `inspection`.`inspection_process_sub` a
        SET a.`IS_ACTIVE` = '0'
        WHERE
        a.`INSPECTION_TASK_ID` = #{params.TASK_ID}
        AND a.INSPECTION_PROCESS_SUB_ID = #{params.PROC_SUB_ID}
    </update>

</mapper>