<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.InspectionEvidenceNotificationMapper">
    <!-- author: Samer  执法检查取证记录通知书-->

    <!-- 获取子表记录 -->
    <select id="getRecordSub" resultType="java.util.HashMap">
        SELECT *,false AS isSet
        FROM
        `inspection`.`inspection_evidence_notify_record_sheet` b
        WHERE 1=1
        <if test='params.RECORD_ID != null and params.RECORD_ID != ""'>
            AND a.RECORD_ID = #{params.RECORD_ID}
        </if>
    </select>

    <!-- 获取记录 -->
    <select id="getRecord" resultType="java.util.HashMap">
        SELECT *,false AS isSet
        FROM
        `inspection`.`inspection_evidence_notify_record` a
        WHERE 1=1
        <if test='params.RECORD_ID != null and params.RECORD_ID != ""'>
            AND a.RECORD_ID = #{params.RECORD_ID}
        </if>
        <if test='params.TASK_ID != null and params.TASK_ID != ""'>
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
        <if test='params.DEPARTMENT != null and params.DEPARTMENT != ""'>
            AND a.DEPARTMENT = #{params.DEPARTMENT}
        </if>
        <if test='params.RECORD_TYPE != null and params.RECORD_TYPE != ""'>
            AND a.RECORD_TYPE = #{params.RECORD_TYPE}
        </if>
    </select>

    <!-- 修改记录 -->
    <update id="editRecord">
        UPDATE `inspection`.`inspection_evidence_notify_record`
        SET
        <if test=' params.TASK_ID != null and params.TASK_ID != "" '>
            TASK_ID =#{params.TASK_ID},
        </if>
        <if test=' params.DEPARTMENT != null and params.DEPARTMENT != "" '>
            DEPARTMENT=#{params.DEPARTMENT},
        </if>
        <if test=' params.CHECKED_ORG_DSCR != null and params.CHECKED_ORG_DSCR != "" '>
            CHECKED_ORG_DSCR=#{params.CHECKED_ORG_DSCR},
        </if>
        <if test=' params.CHECK_ORG_DSCR != null and params.CHECK_ORG_DSCR != "" '>
            CHECK_ORG_DSCR=#{params.CHECK_ORG_DSCR},
        </if>
        <if test=' params.SAVE_START_DATE != null and params.SAVE_START_DATE != "" '>
            SAVE_START_DATE=#{params.SAVE_START_DATE},
        </if>
        <if test=' params.SAVE_END_DATE != null and params.SAVE_END_DATE != "" '>
            SAVE_END_DATE=#{params.SAVE_END_DATE},
        </if>
        <if test=' params.GROUP_LEADER != null and params.GROUP_LEADER != "" '>
            GROUP_LEADER=#{params.GROUP_LEADER},
        </if>
        <if test=' params.CHIEF_MAN != null and params.CHIEF_MAN != "" '>
            CHIEF_MAN=#{params.CHIEF_MAN},
        </if>
        <if test=' params.REGAIN_DATE != null and params.REGAIN_DATE != "" '>
            REGAIN_DATE=#{params.REGAIN_DATE},
        </if>
        <if test=' params.REGAIN_NAME != null and params.REGAIN_NAME != "" '>
            REGAIN_NAME=#{params.REGAIN_NAME},
        </if>
        <if test=' params.NOTIFICATION_DATE != null and params.NOTIFICATION_DATE != "" '>
            NOTIFICATION_DATE=#{params.NOTIFICATION_DATE},
        </if>
        <if test=' params.ADD_USERID != null and params.ADD_USERID != "" '>
            ADD_USERID=#{params.ADD_USERID},
        </if>
        <if test=' params.ADD_DATE != null and params.ADD_DATE != "" '>
            ADD_DATE=#{params.ADD_DATE},
        </if>
        <if test=' params.MODIFY_USERID != null and params.MODIFY_USERID != "" '>
            MODIFY_USERID=#{params.MODIFY_USERID},
        </if>
        <if test=' params.MODIFY_DATE != null and params.MODIFY_DATE != "" '>
            MODIFY_DATE=#{params.MODIFY_DATE},
        </if>
        <if test=' params.ATTACHMENT_NAME != null and params.ATTACHMENT_NAME != "" '>
            ATTACHMENT_NAME=#{params.ATTACHMENT_NAME},
        </if>
        <if test=' params.PAPER_ATTACHMENT != null and params.PAPER_ATTACHMENT != "" '>
            PAPER_ATTACHMENT=#{params.PAPER_ATTACHMENT},
        </if>
        <if test=' params.PRINT_ATTACHMENT != null and params.PRINT_ATTACHMENT != "" '>
            PRINT_ATTACHMENT=#{params.PRINT_ATTACHMENT},
        </if>
        RECORD_ID = #{params.RECORD_ID}
        WHERE
        RECORD_ID = #{params.RECORD_ID}
    </update>

    <!-- 新增记录 -->
    <insert id="addRecord">
        INSERT INTO `inspection`.`inspection_evidence_notify_record`
        VALUES (
            #{params.RECORD_ID},
            #{params.TASK_ID},
            #{params.DEPARTMENT},
            #{params.CHECKED_ORG_DSCR},
            #{params.CHECK_ORG_DSCR},
            #{params.SAVE_START_DATE},
            #{params.SAVE_END_DATE},
            #{params.GROUP_LEADER},
            #{params.CHIEF_MAN},
            #{params.REGAIN_DATE},
            #{params.REGAIN_NAME},
            #{params.NOTIFICATION_DATE},
            #{params.ADD_USERID},
            #{params.ADD_DATE},
            #{params.MODIFY_USERID},
            #{params.MODIFY_DATE},
            #{params.ATTACHMENT_NAME},
            #{params.PAPER_ATTACHMENT},
            #{params.PRINT_ATTACHMENT}
        )
    </insert>

    <!-- 新增记录子表 -->
    <insert id="addRecordSheet">
        INSERT INTO `inspection`.`inspection_evidence_notify_record_sheet`
        VALUES
        <foreach collection="params.dataList" item="data" separator=",">
            (
            #{params.RECORD_ID},
            #{data.ITEM_NO},
            #{data.ITEM_DSCR},
            #{data.ITEM_COUNT},
            #{data.REMARKS}
            )
        </foreach>
    </insert>

    <!-- 删除记录子表 -->
    <delete id="delRecordSheet">
        DELETE FROM `inspection`.`inspection_evidence_notify_record_sheet`
        WHERE
            RECORD_ID = #{params.RECORD_ID}
    </delete>

</mapper>