<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.LegalBorrowMapper">

    <update id="editInspectProjectName">
        UPDATE inspection.inspection_legal_borrow
        SET
            INSPECT_ITEM_DSCR = #{params.INSPECT_ITEM_DSCR}
        WHERE TASK_ID = #{params.TASK_ID}
    </update>

    <select id="getLegalBorrowData" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        inspection.inspection_legal_borrow a
        WHERE
        1 = 1
        <if test="params.TASK_ID!=null and params.TASK_ID != ''">
            AND a.TASK_ID = #{params.TASK_ID}
        </if>
        <if test="params.id!=null and params.id != ''">
            AND a.id = #{params.id}
        </if>
        <if test="params.data_name!=null and params.data_name!='' ">
            AND a.data_name like '%${params.data_name}%'
        </if>
    </select>

    <insert id="addLegalBorrow" >
        INSERT INTO inspection.inspection_legal_borrow
        VALUES
        (
        #{params.id},
        #{params.CHECK_ORG_DSCR},
        #{params.CHECKED_ORG_DSCR},
        #{params.INSPECT_ITEM_DSCR},
        #{params.data_name},
        #{params.num},
        #{params.data_date},
        #{params.borrow_date},
        #{params.borrow_user},
        #{params.return_date},
        #{params.return_user},
        #{params.TASK_ID},
        #{params.title}
        )
    </insert>

    <update id="editLegalBorrow">
        UPDATE inspection.inspection_legal_borrow SET
        <if test=" params.CHECK_ORG_DSCR != null and params.CHECK_ORG_DSCR != ''">
            CHECK_ORG_DSCR = #{params.CHECK_ORG_DSCR},
        </if>
        <if test=" params.CHECKED_ORG_DSCR != null and params.CHECKED_ORG_DSCR != ''">
            CHECKED_ORG_DSCR = #{params.CHECKED_ORG_DSCR},
        </if>
        <if test=" params.INSPECT_ITEM_DSCR != null and params.INSPECT_ITEM_DSCR != ''">
            INSPECT_ITEM_DSCR = #{params.INSPECT_ITEM_DSCR},
        </if>
        <if test=" params.data_name != null and params.data_name != ''">
            data_name = #{params.data_name},
        </if>
        <if test=" params.num != null and params.num != ''">
            num = #{params.num},
        </if>
        <if test=" params.data_date != null and params.data_date != ''">
            data_date = #{params.data_date},
        </if>
        <if test=" params.borrow_date != null and params.borrow_date != ''">
            borrow_date = #{params.borrow_date},
        </if>
        <if test=" params.borrow_user != null and params.borrow_user != ''">
            borrow_user = #{params.borrow_user},
        </if>
        <if test=" params.return_date != null and params.return_date != ''">
            return_date = #{params.return_date},
        </if>
        <if test=" params.return_user != null and params.return_user != ''">
            return_user = #{params.return_user},
        </if>
        <if test=" params.TASK_ID != null and params.TASK_ID != ''">
            TASK_ID = #{params.TASK_ID},
        </if>
        <if test=" params.title != null and params.title != ''">
            title = #{params.title},
        </if>
        id = #{params.id}
        WHERE id = #{params.id}
    </update>

    <delete id="delLegalBorrow" >
        DELETE
        FROM
        inspection.inspection_legal_borrow
        WHERE 1 = 1
        <if test="params.id != null and params.id != ''">
            AND id = #{params.id}
        </if>
    </delete>

</mapper>