<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.inspect.dao.mapper.inspect.QuestionRuleMapper">

    <select id="getQuestionRulePage" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        inspection.inspection_question_rule a
        WHERE 1 = 1
        <if test="params.RULE_ID!=null and params.RULE_ID != ''">
            AND a.RULE_ID = #{params.RULE_ID}
        </if>
        <if test="params.RULE_FILE_NO!=null and params.RULE_FILE_NO != ''">
            AND a.RULE_FILE_NO  like '%${params.RULE_FILE_NO}%'
        </if>
        <if test="params.key_word!=null and params.key_word != ''">
            AND a.RULE_FILE_NAME like '%${params.key_word}%' or a.RULE_FILE_CONTENT LIKE '%${params.key_word}%'
        </if>
        <if test="params.RULE_STATE!=null and params.RULE_STATE!='' ">
            AND a.RULE_STATE = #{params.RULE_STATE}
        </if>
        ORDER BY RULE_FILE_NO, RULE_FILE_NAME, SORT
        LIMIT ${params.page},${params.rows}
    </select>

    <select id="getQuestionRuleData" resultType="java.util.Map">
        SELECT
        *
        FROM
        inspection.inspection_question_rule a
        WHERE 1 = 1
        <if test="params.RULE_ID!=null and params.RULE_ID != ''">
            AND a.RULE_ID = #{params.RULE_ID}
        </if>
        <if test="params.RULE_FILE_NO!=null and params.RULE_FILE_NO != ''">
            AND a.RULE_FILE_NO  like '%${params.RULE_FILE_NO}%'
        </if>
        <if test="params.key_word!=null and params.key_word != ''">
            AND a.RULE_FILE_NAME like '%${params.key_word}%' or a.RULE_FILE_CONTENT LIKE '%${params.key_word}%'
        </if>
        <if test="params.RULE_STATE!=null and params.RULE_STATE!='' ">
            AND a.RULE_STATE = #{params.RULE_STATE}
        </if>
        <if test="params.SORT!=null and params.SORT!='' ">
            AND a.SORT = #{params.SORT}
        </if>
        ORDER BY RULE_FILE_NO, RULE_FILE_NAME, SORT
    </select>

    <select id="getQuestionRuleByRelation" resultType="java.util.Map">
        SELECT
        a.*,c.QUESTION_ID,b.ID
        FROM
        inspection.inspection_question_rule a,
        inspection.inspection_question_rule_relation b,
        inspection.inspection_question_bank c
        WHERE 1 = 1
        and a.RULE_ID = b.RULE_ID
        and c.QUESTION_ID = b.QUESTION_ID
        <if test="params.QUESTION_ID!=null and params.QUESTION_ID != ''">
            AND c.QUESTION_ID = #{params.QUESTION_ID}
        </if>
        <if test="params.RULE_ID!=null and params.RULE_ID != ''">
            AND a.RULE_ID = #{params.RULE_ID}
        </if>
        <if test="params.RULE_FILE_NO!=null and params.RULE_FILE_NO != ''">
            AND a.RULE_FILE_NO  like '%${params.RULE_FILE_NO}%'
        </if>
        <if test="params.key_word!=null and params.key_word != ''">
            AND a.RULE_FILE_NAME like '%${params.key_word}%' or a.RULE_FILE_CONTENT LIKE '%${params.key_word}%'
        </if>
        <if test="params.RULE_STATE!=null and params.RULE_STATE!='' ">
            AND a.RULE_STATE = #{params.RULE_STATE}
        </if>
    </select>

    <select id="getQuestionRuleCount" resultType="java.lang.Integer">
        SELECT
        count(*)
        FROM
        inspection.inspection_question_rule a
        WHERE 1 = 1
        <if test="params.RULE_ID!=null and params.RULE_ID != ''">
            AND a.RULE_ID = #{params.RULE_ID}
        </if>
        <if test="params.RULE_FILE_NO!=null and params.RULE_FILE_NO != ''">
            AND a.RULE_FILE_NO  like '%${params.RULE_FILE_NO}%'
        </if>
        <if test="params.key_word!=null and params.key_word != ''">
            AND a.RULE_FILE_NAME like '%${params.key_word}%' or a.RULE_FILE_CONTENT LIKE '%${params.key_word}%'
        </if>
        <if test="params.RULE_STATE!=null and params.RULE_STATE!='' ">
            AND a.RULE_STATE = #{params.RULE_STATE}
        </if>
    </select>

    <insert id="addQuestionRule" >
        INSERT INTO inspection.inspection_question_rule
        VALUES
        (
        #{params.RULE_ID},
        #{params.RULE_FILE_NO},
        #{params.RULE_FILE_NAME},
        #{params.RULE_FILE_CONTENT},
        '0',
        #{params.BEGIN_DATE},
        #{params.END_DATE},
        #{params.SORT}
        )
    </insert>

    <update id="editQuestionRule">
        UPDATE inspection.inspection_question_rule SET
        <if test=" params.RULE_FILE_NO != null and params.RULE_FILE_NO != ''">
            RULE_FILE_NO = #{params.RULE_FILE_NO},
        </if>
        <if test=" params.RULE_FILE_NAME != null and params.RULE_FILE_NAME != ''">
            RULE_FILE_NAME = #{params.RULE_FILE_NAME},
        </if>
        <if test=" params.RULE_FILE_CONTENT != null and params.RULE_FILE_CONTENT != ''">
            RULE_FILE_CONTENT = #{params.RULE_FILE_CONTENT},
        </if>
        <if test=" params.RULE_STATE != null and params.RULE_STATE != ''">
            RULE_STATE = #{params.RULE_STATE},
        </if>
        <if test=" params.BEGIN_DATE != null and params.BEGIN_DATE != ''">
            BEGIN_DATE = #{params.BEGIN_DATE},
        </if>
        <if test=" params.END_DATE != null and params.END_DATE != ''">
            END_DATE = #{params.END_DATE},
        </if>
        <if test=" params.SORT != null and params.SORT != ''">
            SORT = #{params.SORT},
        </if>
        RULE_ID = #{params.RULE_ID}
        WHERE RULE_ID = #{params.RULE_ID}
    </update>

    <select id="checkRepeat" resultType="java.util.HashMap">
        SELECT
        *
        FROM
        inspection.inspection_question_rule a
        WHERE
        1 = 1
        <if test=" params.RULE_ID != null and params.RULE_ID != '' ">
            AND a.RULE_ID != #{params.RULE_ID}
        </if>
        <if test=" params.RULE_FILE_CONTENT != null and params.RULE_FILE_CONTENT != '' ">
            AND a.RULE_FILE_CONTENT = #{params.RULE_FILE_CONTENT}
        </if>
    </select>

    <update id="updateSort">
        UPDATE inspection.inspection_question_rule SET
        SORT = SORT + 1
        WHERE SORT >=  #{params.SORT}
        and RULE_FILE_NO = #{params.RULE_FILE_NO}
    </update>

</mapper>