<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.triber.analysis.dao.mapper.ForecastAnalysisMapper">

    <!--    获取指标-->
    <select id="getIndexData" resultType="hashmap">
        SELECT a.ID AS value,REPLACE(a.index_name,'告警次数','') AS label
        FROM `system_docking`.api_platform_index_info a
        LEFT JOIN `system_docking`.api_interface_system_platform_info b ON a.platform_id=b.ID
        LEFT JOIN `system_docking`.api_interface_system_info c ON b.system_id=c.ID
        WHERE a.is_enable='1' AND b.is_enable='1' AND c.is_enable='1'
        <if test="params.isStatus != null and params.isStatus != ''">
            AND a.index_type=#{params.isStatus}
        </if>
        <if test="params.is_monitor != null and params.is_monitor != ''">
            AND a.is_monitor=#{params.is_monitor}
        </if>
        <if test="params.systemType != null and params.systemType != ''">
            AND c.system_code=#{params.systemType}
        </if>
    </select>

    <!--    获取资源-->
    <select id="getResourceData" resultType="hashmap">
        <if test='params.systemType == "ucloud"'>
            SELECT a.ID AS value,CONCAT(a.resource_desc,'(',f.ip_address,')') AS label
            FROM `system_docking`.api_system_resource a
            LEFT JOIN `system_docking`.api_system_index_resource b ON a.ID=b.resource_id
            LEFT JOIN `system_docking`.api_platform_index_info c ON b.index_id=c.ID
            LEFT JOIN `system_docking`.api_interface_system_platform_info d ON c.platform_id=d.ID
            LEFT JOIN `system_docking`.api_interface_system_info e ON d.system_id=e.ID
            LEFT JOIN `system_docking`.api_system_resource_ip f ON a.ID=f.resource_id
            WHERE a.is_enable='1' AND c.is_enable='1' AND d.is_enable='1' AND e.is_enable='1'
            <if test="params.indicators != null and params.indicators != ''">
                AND c.ID=#{params.indicators}
            </if>
            <if test="params.systemType != null and params.systemType != ''">
                AND e.system_code = #{params.systemType}
            </if>
            GROUP BY a.ID,label ORDER BY label
        </if>
        <if test='params.systemType == "upm"'>
            SELECT a.resource_code AS value,a.resource_desc AS label
            FROM `system_docking`.api_system_resource a
            LEFT JOIN `system_docking`.api_interface_system_platform_info b ON a.platform_id=b.ID
            LEFT JOIN `system_docking`.api_platform_index_info c ON b.ID=c.platform_id
            LEFT JOIN `system_docking`.api_interface_system_info d ON b.system_id=d.ID
            WHERE a.is_enable='1' AND b.is_enable='1' AND d.is_enable='1'
            <if test="params.indicators != null and params.indicators != ''">
                AND c.ID=#{params.indicators}
            </if>
            <if test="params.systemType != null and params.systemType != ''">
                AND d.system_code = #{params.systemType}
            </if>
            GROUP BY a.ID,label ORDER BY label
        </if>
    </select>

    <!--    获取预测分析数据-->
    <select id="getAnalysisData" resultType="hashmap">
        ${params.analysisSQL}
    </select>

    <!--    获取历史分析数据-->
    <select id="getHistoryAnalysisDada" resultType="hashmap">
        SELECT a.alarm_time,a.index_name,a.resource_name,FORMAT(a.forecast_value,2) AS forecast_value,FORMAT(a.actual_value,2) AS actual_value,FORMAT(a.error_value,2) AS error_value
        FROM ${params.dataBase}.api_forecast_alarm_records a
        WHERE 1=1
        <if test="params.is_shared!= null and params.is_shared != ''">
            AND a.is_shared = #{params.is_shared}
        </if>
        <if test="params.time != null and params.time != ''">
            AND a.alarm_time = #{params.time}
        </if>
        ORDER BY CAST(a.error_value AS DECIMAL) DESC
        <if test="params.limit != null and params.limit != ''">
            LIMIT ${params.limit}
        </if>
    </select>
</mapper>